header
	background: $degradadomenu
	padding-top: 0.12em
	.menu
		height: 3.1em
		padding-bottom: 0em
		img
			width: 3.6em
			height: 2.7em
		.locate
			img
				width: 6em
				height: 2.7em
		nav
			span
				margin-left: 0em
		.linea2
			border-bottom: 0.20em solid #fff
	.menu3
		background: #fff
		width: 100%
		padding-top: 0em
		margin-bottom: -0.50em
		height: 3.1em
		a
			padding-bottom: 0.18em
			img
				width: 3.5em
				height: 2.8em
		.locate
			img
				width: 5.2em
		nav
			.chat
				.badge
					margin-left: 0.3em
		.linea
			border-bottom: 0.18em solid $aquamarina
	.menu2
		height: 3em
		i
			color: #fff
			font-size: 1.2em
	.barra-lateral-derecha
		width: 13em
		position: fixed
		padding-bottom: 0.125em
		padding-left: 0
		top: 3em
		right: 1em
		z-index: 200
		background: #fff
		border-radius: 1em
		transform: translateY(-145%)
		transition: all .4s ease
		&.active
			transform: translateY(0%)
		nav
			padding: 0.5em
			border-radius: 2em
			a
				display: block
				display: flex
				justify-content: flex-start
				padding: 2px
				font-family: $font-family2
				color: #000
				border-radius: 3em
				&:hover
					background: #3d3d3d
					color: #fff
					text-decoration: none
	.fondo-enlace2
		position: fixed
		width: 100%
		height: 100vh
		top: 0
		left: 0
		cursor: pointer
		background: rgba(0,0,0,.35)
		z-index: 99
		display: none
		&.active
			display: block