header
	.icono-izquierda
		position: fixed
		color: #fff
		font-size: 1.35em
		left: 0.15em
	.texto1
		color: #fff
		padding-top: 0.3em
		margin-left: -1em
	.texto2
		color: #fff
		padding-top: 0.6em
		font-size: 1.4em