main
	.imagen
		display: flex
		justify-content: center
		top: 5.5em
		img
			width: 20em
			height: 20em
	.boton
		display: flex
		justify-content: center
		top: 2.3em
		button
			width: 8em
			border-radius: 25px
			padding: 0.5em
			background: #fff
			border-color: #fff
			border: none
			font-size: 1.3em
			font-weight: 400
			margin-top: 1em
			&:hover
				background: $aquamarina
				cursor: pointer
				a
					color: #fff
			a
				text-decoration: none
				color: $aquamarina
	.texto
		text-align: center
		top: 4em
		color: #fff
		font-size: 1em
	.link
		text-align: center
		top: 6em
		a
			color: #fff
			text-decoration: none