.promodecide
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.titulo-enviar
		width: 100%
		padding-top: 1em
		padding-bottom: 1em
		text-align: center
		p
			font-size: 1.6em
			color: $aquamarina
			font-weight: 700
	.textos
		width: 100%
		text-align: center
		.texto1
			font-weight: 700
		.texto2,
		.texto3
			padding-left: 1em
			padding-right: 1em
			font-size: 0.9em
			color: $grisoscuro
		.texto3
			margin-top: -1em
	.form-enviarpromo
		width: 100%
		form
			padding-top: 1.5em
			display: flex
			justify-content: center
			select
				width: 40%
				border: 1px solid $aquamarina



