.main-promomail
	display: flex
	flex-direction: column
	width: 100%
	.titulo-1
		padding-top: 0.7em
		text-align: center
		width: 100%
		p
			color: $aquamarina
			font-size: 1.5em
	.texto-1
		width: 100%
		text-align: center
		margin-top: -1em
		p
			color: $grisoscuro
	.contenedor
		padding: 1em
		width: 50%
		display: flex
		flex-direction: column
		background: #fff
		border-radius: 0.6em
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		.titulomensaje
			padding: 1em
			text-align: center
			width: 100%
			input
				border: none
				border-bottom: 1px solid $aquamarina
				width: 80%
				// text-align: center
		.textomensaje
			width: 100%
			display: flex
			flex-direction: column
			justify-content: center
			.textarea
				width: 100%
				text-align: center
				label
					width: 77%
					text-align: left
					color: #fff
				textarea
					width: 77%
					padding: 0.5em
					// text-align: center
					border: 1px solid $aquamarina
					height: 150px
					resize: none
					border-radius: 1em
		.boton-submit
			width: 100%
			text-align: center
			padding: 0.5em
			padding-top: 0.8em
			button
				background: $aquamarina
				color: #fff
				border: none
				cursor: pointer
				border-radius: 1em
				padding: 0.5em
				&:hover
					background: $grisclaro
					color: $aquamarina