.main-mensajeria
	a
		text-decoration: none
	background: $grisoscuro
	height: 100vh
	.btn
		height: 1.8em
		padding-top: 0
		padding-bottom: 0
	.botones
		margin-top: 1em
		.izquierda,
		.derecha
			a
				text-decoration: none
				color: #000
				font-size: 0.9em
				font-family: $font-family2
				text-align: center
			background: #B5B6B6
			border-radius: 0
			border: none
		.activo
			background: $aquamarina
			a
				color: #fff
	.barrabusqueda
		.barra
			input
				border-right: none
				border-color: $grisclaro
	i
		background: #fff
		color: $grisintermedio
		border-top: 1px solid $grisclaro
		border-bottom: 1px solid $grisclaro
		border-right: 1px solid $grisclaro
		border-top-right-radius: 15%
		border-bottom-right-radius: 15%
		padding-top: 0.4em
		padding-left: 0.4em
		padding-right: 0.4em
	.contactos
		.contacto
			border-top: 0.02em solid $grisintermedio
			border-bottom: 0.02em solid $grisintermedio
			a
				width: 62.5em
				text-align: center
				text-decoration: none
				margin: 1px solid $grisintermedio
			.imagen
				display: flex
				justify-content: flex-end
				img 
					width: 3.62em
					height: 3.62em
					margin-top: 0.2em
			.content
				.titulo
					font-family: $font-family2
					font-weight: 700
					margin-top: 0.3em
					color: #fff
					text-decoration: none
				.texto
					font-family: $font-family2
					font-weight: 400
					color: #fff
					margin-top: -1em
