.main-invite
	.container
		width: 80%
		.info
			margin-top: 2em
			.titulo
				color: $aquamarina
				text-align: center
			.texto
				text-align: center
				font-weight: 700
			.form-group
				display: flex
				justify-content: center
				input
					width: 100%
					border-bottom: 2px solid $grisoscuro
					border-top: none
					border-left: none
					border-right: none
					margin-top: 1em
					padding-bottom: 0.3em
					&:hover
						border-bottom: 2px solid $aquamarina
			.boton-invite
				display: flex
				justify-content: center
				button
					border-radius: 25px
					padding: 0.7em
					background: $aquamarina
					color: #fff
					border-color: $aquamarina
					border: none
					font-weight: 700
					margin-top: 1em
					&:hover
						background: $verdesuave
						cursor: pointer
