main
	.register-success
		.titulo
			display: flex
			justify-content: center
			width: 100%
			color: #fff
			padding-top: 2em
			font-size: 3em
			margin-top: 1.5em
		.texto
			margin-top: 0.5em
			width: 100%
			font-size: 1.5em
		.boton
			width: 100%