.main-billetera
	height: 12.5em
	.contenedor
		overflow: visible
	.boton-canjear
		text-align: center
		button
			a
				color: #fff
				text-decoration: none
		.boton-verde
			margin-top: -1.5em
			background: $verdepasto
			color: #fff
			font-weight: 700
			font-family: $font-family2
			font-size: 1.2em
			border-radius: 0.4em
			&:hover
				background: $verde
	.container
		width: 80%
	.datos
		text-align: center
		input,
		select
			border-radius: 1em
			margin-bottom: 0.8em
		form
			text-align: center
		.texto
			text-align: center
			margin-top: 0.5em
			color: $grisoscuro
			font-size: 1.2em
		button
			width: 100%
			border-radius: 1em
			background: $aquamarina
			color: #fff
			font-weight: 700
			&:hover
				background: $verde
						
