.contenedor
	margin: auto
	width: 50%
	max-width: 1000px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.titulo
		width: 100%
		margin-top: 1.5em
		display: flex
		justify-content: center
		p
			color: $aquamarina
			font-size: 1.6em
			font-weight: 700
	.main-venta
		width: 100%
		background: #fff
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		border-radius: 4px
		.titulo2
			width: 100%
			padding-top: 0.5em
			text-align: center
			border-bottom: 1px solid $grisclaro
			p
				font-size: 1.4em
		.monto,
		.numeromiembro,
		.numeroboleta
			width: 100%
			display: flex
			flex-direction: row
			flex-wrap: wrap
			text-align: center
			padding: 0.5em
			font-size: 1.1em
			border-bottom: 1px solid $grisclaro
			.texto
				width: 50%
				p
					padding-top: 0.2em
					padding-left: 1em
					padding-right: 1em
					display: flex
					justify-content: flex-end
			.input
				width: 50%
				display: flex
				justify-content: flex-start
				input
					height: 1.875em
					width: 115px
					border: 1px solid $aquamarina
		.boton
			width: 100%
			display: flex
			flex-direction: row
			justify-content: center
			padding: 1em
			button
				padding: 0.2em
				width: 30%
				background: $aquamarina
				color: #fff
				border: none
				border-radius: 16px
				cursor: pointer
				font-size: 1.2em
				&:hover
					background: $grisclaro
					color: $aquamarina


