main
	.user-commerce
		.form-group
			text-align: center
			input
				background: transparent
				border-left: none
				border-right: none
				border-top: 1px solid #fff
				border-bottom: 1px solid #fff
				border-shad
				&::placeholder
					color: #fff
					padding-left: 1.5em
			.inputpassword
				width: 20em
				border-top: none
				padding: 0.8em
				padding-top: 0.4em
				margin-bottom: 0.2em
			.inputrut
				width: 20em
				padding: 1em
			.icon-lock
				position: absolute
				padding-top: 0.4em
				color: #fff
				margin-left: -0.2em
			.icon-user
				position: absolute
				padding-top: 1em
				color: #fff
				margin-left: -0.2em
		.link
			top: 2em
		.titulo
			text-align: center
			top: 0em
			margin-bottom: 1em
			padding-top: 0
			padding-bottom: 6em
			.h3
				color: #fff
				font-weight: 400
				font-size: 1.7em
		.imagen
			margin: 0em
			padding: 0em
			top: 0em
			margin-bottom: -7em
			img
				margin-top: -4em
		.boton
			button
				color: $aquamarina
				width: 13em
				&:hover
					color: #fff