.chat-history
	background: $grisclaro
	width: 100vw
	height: 60vh
	border-bottom: 0.12em solid $grisintermedio
	overflow-y: scroll
	ul
		list-style: none
	.message-data
		margin-bottom: 15px
	.message-data-time
		color: #a8aab1
		padding-left: 0.375em
		font-size: 0.8em
	.message-data-name
		font-size: 0.95em
		font-family: $font-family2
	.message
		color: #fff
		padding: 1.125em 1.25em
		line-height: 1.625em
		font-size: 1em
		border-radius: 0.4375em
		margin-bottom: 1.875em
		width: 90%
		position: relative
		&:after
			bottom: 100%
			left: 7%
			border: solid transparent
			content: " "
			height: 0
			width: 0
			position: absolute
			pointer-events: none
			border-bottom-color: $azulcielo
			border-width: 0.625em
			margin-left: -0.625em
	.my-message
		background: $azulcielo
	.other-message
		left: 3em
		background: $verdepasto
		&:after
			border-bottom-color: $verdepasto
			left: 93%
.chat-messages
	background: $grisclaro
	padding: 1.5em
	width: 100vw
	height: 25vh
	textarea
		width: 100%
		border: 0.065em solid $grisintermedio
		border-top-left-radius: 1em
		border-top-right-radius: 1em
		border-bottom-left-radius: 1em
		border-bottom-right-radius: 1em
		resize: none
	button
		color: $azulcielo
		font-weight: 700
		background: none
		border: none
		cursor: pointer