.main-locatecomercios
	#map
		margin-top: -3.37em
		width: 100%
		height: 600px
	.input-group
		top: 0.8em
		left: 22em
		input
			z-index: 100
			width: 18.75em
			border-right: none
			border-top-color: $aquamarina
			border-bottom-color: $aquamarina
			border-left-color: $aquamarina
		i
			z-index: 50
			display: flex
			background: #fff
			color: $aquamarina
			border-top: 1px solid $aquamarina
			border-bottom: 1px solid $aquamarina
			border-right: 1px solid $aquamarina
			border-top-right-radius: 15%
			border-bottom-right-radius: 15%
			padding-top: 0.7em
			padding-left: 0.4em
			padding-right: 0.4em
