main
	.recoverpass
		.container
			width: 80%
			.info
				margin-top: 3em
				.titulo
					color: #fff
					text-align: center
				.texto
					text-align: center
					font-weight: 400
					font-size: 1.2em
				.form-group
					margin-top: 6em
					input
						background: transparent
						width: 100%
						border-bottom: 2px solid $grisoscuro
						border-top: none
						border-left: none
						border-right: none
						margin-top: 1em
						padding-bottom: 0.3em
						&:hover
							border-bottom: 2px solid #fff
						&::placeholder
							color: #fff
							padding-left: 1em
				.boton-sendmail
					display: flex
					justify-content: center
					button
						width: 20em
						border-radius: 25px
						padding: 0.7em
						background: #fff
						color: $aquamarina
						border-color: #fff
						border: none
						font-weight: 700
						margin-top: 1em
						&:hover
							background: $aquamarina
							cursor: pointer
							color: #fff
