.contenedor-comprapymcashpreview
	margin: auto
	width: 50%
	max-width: 1000px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	padding-bottom: 0.8em
	.titulo
		width: 100%
		margin-top: 1.5em
		display: flex
		justify-content: center
		p
			color: $aquamarina
			font-size: 1.6em
			font-weight: 700
	.descripcion
		width: 100%
		margin-top: -1em
		text-align: center
		p
			color: $grisoscuro
			font-size: 1.1em
	.main-venta
		width: 100%
		background: #fff
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		border-radius: 4px
		.imagen
			width: 100%
			text-align: center
			padding: 0.5em
			img
				width: 200px
			border-bottom: 1px solid $grisclaro
		.texto-sm
			width: 100%
			padding-top: 0.5em
			text-align: left
			padding-left: 0.5em
			p
				font-size: 0.8em
		.detallecompra
			width: 100%
			display: flex
			flex-direction: row
			flex-wrap: wrap
			text-align: center
			padding: 0.5em
			font-size: 1.1em
			.descripcion
				width: 100%
				display: flex
				flex-direction: row
				flex-wrap: wrap
				overflow-y: scroll
				height: 135px
				&::-webkit-scrollbar-thumb
					background-color: rgba(0, 0, 0, 0.2)
				&::-webkit-scrollbar
					width: 5px
				&::-webkit-scrollbar-corner
					background-color: rgba(0, 0, 0, 0.2)
				.numero
					width: 10%
					color: $aquamarina
					font-weight: 700
				.tituloitem
					width: 60%
					color: #000
					font-size: 1em
				.monto
					width: 30%
					color: $aquamarina
					font-weight: 700
		.npaquetes
			width: 100%
			display: flex
			flex-direction: row
			flex-wrap: wrap
			border-top: 1px solid $grisclaro
			border-bottom: 1px solid $grisclaro
			.numero
				padding-top: 0.7em
				width: 10%
				color: $aquamarina
				font-weight: 700
			.packs
				width: 60%
				padding-top: 0.7em
			.icono
				width: 20%
				img
					width: 50px
					height: 50px
		.pago
			width: 100%
			display: flex
			flex-direction: row
			flex-wrap: wrap
			padding-top: 0.5em
			border-bottom: 1px solid $grisclaro
			.texto-stotal
				width: 50%
				font-weight: 700
			.subtotal
				width: 50%
				font-weight: 700
				color: $aquamarina
			.texto-total
				width: 50%
				padding-top: 0.4em
				font-weight: 700
			.total
				width: 50%
				padding-top: 0.4em
				border-top: 1px solid $grisclaro
				font-weight: 700
				color: $aquamarina
		.boton
			width: 100%
			display: flex
			flex-direction: row
			justify-content: center
			padding: 1em
			button
				padding: 0.3em
				background: $aquamarina
				color: #fff
				border: none
				border-radius: 16px
				cursor: pointer
				font-size: 1.3em
				&:hover
					background: $grisclaro
					color: $aquamarina