@media screen and (max-width: 690px)
	header
		.texto2
			color: #fff
			padding-top: 1.3em
			margin-left: 1.3em
			font-weight: 700
			font-size: 1em

@media screen and (max-height: 450px)
	main
		.register-user-commerce
			overflow: scroll
			max-height: 350px

@media screen and (max-width: 360px)
	main
		.register-user-commerce
			overflow: scroll
			max-height: 450px
			.formulario
				input
					width: 12.5em
					&::placeholder
						color: #fff
						padding-left: 1em
		.boton-complete
			margin-top: 0.5em
	header
		.texto2
			margin-left: 2em
			margin-right: 1em