@media screen and (max-width: 575px)
	.contenedor-comprapymcash
		width: 70%
		max-width: 1000px
		.titulo
			text-align: center
			p
				font-size: 1.2em

		.main-venta
			.textodescriptivo
				width: 100%
				display: flex
				flex-direction: row
				flex-wrap: wrap
				text-align: center
				padding: 0.5em
				font-size: 1em
				.texto
					width: 100%
					p
						padding-top: 0.2em
						padding-left: 0em
						padding-right: 0em
						display: flex
						justify-content: center
				.input
					width: 100%
					display: flex
					justify-content: center
					input
						border: 1px solid $aquamarina
			.boton
				button
					width: 50%

@media screen and (max-width: 360px)
	.contenedor-comprapymcash
		.main-venta
			.textodescriptivo
				.input
					input
						width: 5em