@media screen and (max-width: 358px)
	main
		.user-commerce
			.form-group
				text-align: center
				.inputpassword
					width: 14em
					padding: 0.8em
					margin-bottom: 1em
					padding-top: 0.3em
				.inputrut
					width: 14em
					padding: 1em
			.titulo
				margin-bottom: -3em
				padding-top: 0.4em
				padding-bottom: 6em
			.boton
				button
					margin-top: 0em
			.link
				margin-top: 1em

@media screen and (max-height: 430px)
	main
		.user-commerce
			.titulo
				padding-bottom: 0em
