@media screen and (max-width: 575px)
	.header-billetera-comercio
		.icono-izquierda
			width: 10%
		.saldo
			width: 25%
		.imagen
			width: 65%
		.monto
			width: 50%
		.imagen2
			width: 50%
	.main-billeteracomercio
		.boton-movimientos
			margin-top: 0em

@media screen and (max-width: 360px)
	.header-billetera-comercio
		.icono-izquierda
			width: 10%
		.saldo
			width: 25%
			p
				padding-top: 1em
		.imagen
			width: 65%
			padding-top: 2em
		.monto
			width: 60%
			margin-top: -6em
		.imagen2
			width: 40%
			margin-top: -4.8em
	.main-billeteracomercio
		.boton-movimientos
			margin-top: -2em
