@media screen and (max-width: 767px)
	.main-locatecomercios
		#map
			margin-top: -2.8em
			width: 100%
			height: 500px
		.input-group
			top: 1.1em
			left: 6em
			input
				width: 12em
				border-top-color: $aquamarina
				border-bottom-color: $aquamarina
				border-left-color: $aquamarina
			i
				z-index: 50
				display: flex
				background: #fff
				color: $aquamarina
				border-top: 1px solid $aquamarina
				border-bottom: 1px solid $aquamarina
				border-right: 1px solid $aquamarina
				border-top-right-radius: 15%
				border-bottom-right-radius: 15%
				padding-top: 0.7em
				padding-left: 0.4em
				padding-right: 0.4em

@media screen and (max-width: 360px)
	.main-locatecomercios
		#map
			margin-top: -2.8em
			width: 100%
			height: 345px
		.input-group
			top: 1.15em
			left: 6em
			input
				width: 9em
				border-top-color: $aquamarina
				border-bottom-color: $aquamarina
				border-left-color: $aquamarina
			i
				z-index: 50
				display: flex
				background: #fff
				color: $aquamarina
				border-top: 1px solid $aquamarina
				border-bottom: 1px solid $aquamarina
				border-right: 1px solid $aquamarina
				border-top-right-radius: 15%
				border-bottom-right-radius: 15%
				padding-top: 0.7em
				padding-left: 0.4em
				padding-right: 0.4em

