@media screen and (max-width: 767px)
	.main-locateusers
		#map
			margin-top: 0.5em
			width: 100%
			height: 500px
			
@media screen and (max-width: 360px)
	.main-locateusers
		#map
			margin-top: 0.5em
			width: 100%
			height: 345px