@media screen and (max-height: 540px)
	main
		.chooselogin
			.titulo
				margin-top: 1em
				.h1
					font-size: 2em
			.texto
				margin-top: 0em
			.boton1
				margin-top: 3em
			.boton
				top: 2.3em
				button
					margin-top: 1em
			.link
				top: 4em

@media screen and (max-width: 360px)
	main
		.chooselogin
			.titulo
				margin-top: 1em
				.h1
					font-size: 1.6em
				.h2
					font-size: 1.6em
			.texto
				margin-top: -4em
				font-size: 0.9em
			.textocreate
				font-size: 0.9em
			.boton1
				margin-top: 8em
			.boton
				top: 2.3em
				button
					margin-top: 1em
			.link
				top: 6em