@media screen and (max-width: 340px)
	.header-billetera
		.money-user
			.contenedor
				text-align: center
				.texto
					.saldo
						font-size: 1.5em
					.monto
						font-size: 3em
						margin-bottom: -0.15em
	.main-billetera
		.boton-canjear
			.boton-verde
				margin-top: -4.6em
				font-size: 1.1em
		.datos
			margin-top: -1.5em
