@media screen and (max-width: 575px)
	.contenedor
		width: 70%
		max-width: 1000px
		.main-venta
			.monto,
			.numeromiembro,
			.numeroboleta
				width: 100%
				display: flex
				flex-direction: row
				flex-wrap: wrap
				text-align: center
				padding: 0.5em
				font-size: 1em
				border-bottom: 1px solid $grisclaro
				.texto
					width: 50%
					p
						padding-top: 0.2em
						padding-left: 0em
						padding-right: 0em
						display: flex
						justify-content: center
				.input
					width: 50%
					display: flex
					justify-content: center
					input
						border: 1px solid $aquamarina
			.boton
				button
					width: 50%

@media screen and (max-width: 360px)
	.contenedor
		.main-venta
			.monto,
			.numeromiembro,
			.numeroboleta
				.input
					input
						width: 5em