@media screen and (max-width: 993px)
	.header
		.chat-header
			.icono-derecha
				padding-left: 4em

@media screen and (max-width: 575px)
	.header
		.chat-header
			padding: 0.7em
			.icono-izquierda
				padding-top: 0.28em
				padding-left: 0
				font-size: 1.1em
			.imagen
				padding-top: 0.6em
				padding-bottom: 0.2em
				img
					width: 3em
					height: 3em
			.titulo
				padding-left: 0
				font-size: 0.9em
				padding-top: 1.4em
			.icono-derecha
				padding-top: 1em
				padding-left: 2em
				img
					width: 1.3em
					height: 1.3em

@media screen and (max-width: 335px)
	.header
		.chat-header
			.icono-derecha
				padding-left: 0em

// Altura
@media screen and (max-height: 500px)
	.header
		height: 15vh
		.chat-header
			padding: 0em

@media screen and (max-height: 420px)
	.header
		height: 15vh
		.chat-header
			padding: 0.6em
			.icono-izquierda
				margin-top: -0.8em
			.imagen
				padding-top: 0em
				padding-bottom: 0em
				img
					width: 2em
					height: 2em
			.titulo
				font-size: 0.8em
				padding-top: 0em
			.icono-derecha
				padding-top: 0em
	.chat-history
		height: 60vh 
	.chat-messages
		padding: 1em
		height: 25vh
		textarea
			height: 3em

@media screen and (max-height: 350px)
	.header
		.chat-header
			padding-top: 0.3em
		.imagen
			img
				width: 1.5em
				height: 1.5em
			.titulo
				font-size: 0.75em
	.chat-messages
		padding: 0.2em
		textarea
			height: 2em
		button
			width: 0.5em