@media screen and (max-width: 575px)
	.contenedor-comprapymcashpreview
		width: 85%
		max-width: 1000px
		.titulo
			text-align: center
			p
				font-size: 1.3em
		.descripcion
			p
				color: $grisoscuro
				font-size: 0.85em