* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-size: 16px;
  font-family: "PT Sans", sans-serif; }

header {
  background: linear-gradient(to left, #2980B9, #48C9B0 50%);
  padding-top: 0.12em; }
  header .menu {
    height: 3.1em;
    padding-bottom: 0em; }
    header .menu img {
      width: 3.6em;
      height: 2.7em; }
    header .menu .locate img {
      width: 6em;
      height: 2.7em; }
    header .menu nav span {
      margin-left: 0em; }
    header .menu .linea2 {
      border-bottom: 0.2em solid #fff; }
  header .menu3 {
    background: #fff;
    width: 100%;
    padding-top: 0em;
    margin-bottom: -0.5em;
    height: 3.1em; }
    header .menu3 a {
      padding-bottom: 0.18em; }
      header .menu3 a img {
        width: 3.5em;
        height: 2.8em; }
    header .menu3 .locate img {
      width: 5.2em; }
    header .menu3 nav .chat .badge {
      margin-left: 0.3em; }
    header .menu3 .linea {
      border-bottom: 0.18em solid #16A085; }
  header .menu2 {
    height: 3em; }
    header .menu2 i {
      color: #fff;
      font-size: 1.2em; }
  header .barra-lateral-derecha {
    width: 13em;
    position: fixed;
    padding-bottom: 0.125em;
    padding-left: 0;
    top: 3em;
    right: 1em;
    z-index: 200;
    background: #fff;
    border-radius: 1em;
    transform: translateY(-145%);
    transition: all 0.4s ease; }
    header .barra-lateral-derecha.active {
      transform: translateY(0%); }
    header .barra-lateral-derecha nav {
      padding: 0.5em;
      border-radius: 2em; }
      header .barra-lateral-derecha nav a {
        display: block;
        display: flex;
        justify-content: flex-start;
        padding: 2px;
        font-family: "PT Sans", sans-serif;
        color: #000;
        border-radius: 3em; }
        header .barra-lateral-derecha nav a:hover {
          background: #3d3d3d;
          color: #fff;
          text-decoration: none; }
  header .fondo-enlace2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.35);
    z-index: 99;
    display: none; }
    header .fondo-enlace2.active {
      display: block; }

.header {
  width: 100vw;
  height: 15vh;
  background: #EDEEED;
  border-bottom: 0.12em solid #b4b5b6; }
  .header .chat-header {
    padding: 0.6em;
    display: flex;
    font-size: 1.06em; }
    .header .chat-header .icono-izquierda {
      display: flex;
      justify-content: flex-start;
      font-size: 1.2em;
      font-weight: 400;
      color: #01A9DB; }
    .header .chat-header .imagen {
      display: flex;
      justify-content: flex-end;
      padding-top: 0.2em;
      padding-bottom: 0.2em; }
      .header .chat-header .imagen img {
        width: 3em;
        height: 3em; }
    .header .chat-header .titulo {
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      padding-top: 0.7em;
      display: flex;
      justify-content: flex-start; }
    .header .chat-header .icono-derecha {
      padding-top: 0.7em;
      padding-left: 7em; }
    .header .chat-header .barra-lateral-chat {
      width: 13em;
      position: fixed;
      padding: 0;
      top: 3.3em;
      right: 1em;
      z-index: 100;
      background: #fff;
      border-radius: 1em;
      transform: translateX(150%);
      transition: all 0.4s ease; }
      .header .chat-header .barra-lateral-chat.active {
        transform: translateX(0%); }
      .header .chat-header .barra-lateral-chat nav {
        padding: 0.5em;
        border-radius: 2em; }
        .header .chat-header .barra-lateral-chat nav a {
          display: block;
          display: flex;
          justify-content: flex-start;
          padding: 2px;
          font-family: "PT Sans", sans-serif;
          color: #000;
          border-radius: 3em; }
          .header .chat-header .barra-lateral-chat nav a:hover {
            background: #3d3d3d;
            color: #fff;
            text-decoration: none; }
    .header .chat-header .fondo-enlace-chat {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.35);
      z-index: 99;
      display: none; }
      .header .chat-header .fondo-enlace-chat.active {
        display: block; }

.header-billetera {
  background: url("../img/fondobilletera.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 220px; }
  .header-billetera .money-user {
    width: 100vw;
    height: 40vh; }
    .header-billetera .money-user .contenedor {
      text-align: center; }
      .header-billetera .money-user .contenedor .icono-izquierda {
        display: flex;
        justify-content: flex-start;
        color: #fff;
        font-size: 1.2em; }
      .header-billetera .money-user .contenedor .texto .saldo {
        font-size: 2em;
        font-weight: 400;
        font-family: "PT Sans", sans-serif;
        color: #fff;
        margin-bottom: -0.6em; }
      .header-billetera .money-user .contenedor .texto .monto {
        font-size: 4em;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        color: #fff;
        margin-bottom: -0.15em; }
      .header-billetera .money-user .contenedor .texto .info {
        font-family: "PT Sans", sans-serif;
        font-size: 0.8em;
        color: #fff; }

header .header-movimientos .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-movimientos .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-movimientos .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-movimientos .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em; }

header .header-datauser .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-datauser .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-datauser .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-datauser .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center; }

header .header-changepassword .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-changepassword .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-changepassword .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-changepassword .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.3em; }

.main .usuario {
  background: url("../img/fondoperfilmiembro.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19.8em; }
  .main .usuario .contenedor {
    text-align: center; }
    .main .usuario .contenedor .foto {
      margin-top: 3em; }
      .main .usuario .contenedor .foto img {
        margin-right: -4.5em;
        vertical-align: top;
        border-radius: 50%;
        border: 6px solid rgba(255, 255, 255, 0.2); }
    .main .usuario .contenedor .texto {
      margin-top: 0.5em; }
      .main .usuario .contenedor .texto .nombre {
        color: #fff;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        padding-bottom: 0.4em; }
      .main .usuario .contenedor .texto .numero {
        color: #fff;
        margin-top: -1em;
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 1em; }
    .main .usuario .contenedor .boton-verde {
      float: right;
      margin-right: 0.8em;
      margin-top: -2em;
      background: #01DF74;
      border-radius: 0.5em;
      padding: 0.15em; }
      .main .usuario .contenedor .boton-verde .cuenta {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 1.3em;
        color: #fff;
        margin-bottom: 0.3em; }
      .main .usuario .contenedor .boton-verde .texto {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 0.7em;
        color: #fff;
        margin-top: -1em;
        margin-bottom: 0.2em; }
    .main .usuario .contenedor .tuerca {
      float: left;
      background-color: transparent;
      margin-left: 0.8em;
      margin-top: -2em; }
    .main .usuario .contenedor .barra-lateral-izquierda {
      width: 13em;
      position: fixed;
      padding-bottom: 0.125em;
      padding-left: 0;
      top: 4.2em;
      left: 2.4em;
      z-index: 100;
      background: #fff;
      border-radius: 1em;
      transform: translateX(-135%);
      transition: all 0.3s ease; }
      .main .usuario .contenedor .barra-lateral-izquierda.active {
        transform: translateX(0%); }
      .main .usuario .contenedor .barra-lateral-izquierda nav {
        padding: 0.5em;
        border-radius: 2em; }
        .main .usuario .contenedor .barra-lateral-izquierda nav a {
          display: block;
          display: flex;
          justify-content: flex-start;
          padding: 2px;
          font-family: "PT Sans", sans-serif;
          color: #000;
          border-radius: 3em; }
          .main .usuario .contenedor .barra-lateral-izquierda nav a:hover {
            background: #3d3d3d;
            color: #fff;
            text-decoration: none; }
.main .fondo-enlace {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
  display: none; }
  .main .fondo-enlace.active {
    display: block; }
.main .container {
  margin-top: 4em;
  height: 12em;
  text-align: center; }
  .main .container button {
    margin-bottom: 0.1em; }
  .main .container .btn {
    border-top: 0.15em solid #48C9B0;
    border-bottom: 0.15em solid #48C9B0;
    border-left: 0.04em solid #16A085;
    border-right: 0.04em solid #16A085;
    border-radius: 20%;
    font-size: 4em;
    width: 2em; }
  .main .container .titulo1,
  .main .container .titulo2,
  .main .container .titulo3,
  .main .container .titulo4 {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-size: 1em;
    color: #808B96; }

.main-notificaciones {
  background: #EDEEED;
  height: 100vh; }
  .main-notificaciones .btn {
    height: 1.8em;
    padding-top: 0;
    padding-bottom: 0; }
  .main-notificaciones .botones {
    margin-top: 1em; }
    .main-notificaciones .botones .izquierda,
    .main-notificaciones .botones .derecha {
      background: #B5B6B6;
      border-radius: 0;
      border: none; }
      .main-notificaciones .botones .izquierda a,
      .main-notificaciones .botones .derecha a {
        text-decoration: none;
        color: #000;
        font-size: 0.9em;
        font-family: "PT Sans", sans-serif;
        text-align: center; }
    .main-notificaciones .botones .activo {
      background: #16A085; }
      .main-notificaciones .botones .activo a {
        color: #fff; }
  .main-notificaciones .botones2 .commerceblock,
  .main-notificaciones .botones2 .deleteall {
    margin-right: 8em;
    text-align: center; }
    .main-notificaciones .botones2 .commerceblock a,
    .main-notificaciones .botones2 .deleteall a {
      text-decoration: none; }
    .main-notificaciones .botones2 .commerceblock .texto,
    .main-notificaciones .botones2 .deleteall .texto {
      font-family: "PT Sans", sans-serif;
      font-size: 0.75em;
      text-align: center;
      color: #808B96; }
  .main-notificaciones .botones2 .activobloqueados .texto {
    color: #000;
    font-weight: 700; }
  .main-notificaciones .notificaciones .notificacion {
    padding-top: 0.5em;
    border-top: 0.5px solid #b4b5b6;
    border-bottom: 0.5px solid #b4b5b6;
    border-right: 1px solid #b4b5b6;
    border-left: 1px solid #b4b5b6;
    padding-bottom: 0.5em; }
    .main-notificaciones .notificaciones .notificacion .imagen img {
      width: 3.12em; }
    .main-notificaciones .notificaciones .notificacion .content .titulo {
      font-family: "PT Sans", sans-serif;
      font-weight: 700; }
    .main-notificaciones .notificaciones .notificacion .content .texto {
      font-family: "PT Sans", sans-serif;
      font-size: 0.95em;
      margin-top: -1em; }
    .main-notificaciones .notificaciones .notificacion .btn-secondary {
      background: #2980B9;
      border: none;
      margin-top: 1em; }
      .main-notificaciones .notificaciones .notificacion .btn-secondary a {
        color: #fff;
        text-decoration: none; }
    .main-notificaciones .notificaciones .notificacion .iconos .close {
      margin-right: -1em; }
      .main-notificaciones .notificaciones .notificacion .iconos .close img {
        width: 0.8em; }
    .main-notificaciones .notificaciones .notificacion .iconos .bluealert {
      margin-top: 1.6em;
      border-radius: 100%;
      background: #2980B9;
      margin-left: 0.7em; }
    .main-notificaciones .notificaciones .notificacion .iconos .datetime {
      color: #808B96;
      font-size: 0.8em;
      font-weight: 700; }

.main-notificaciones .bloqueados .bloqueado {
  padding-top: 0.5em;
  border-top: 0.5px solid #b4b5b6;
  border-bottom: 0.5px solid #b4b5b6;
  padding-bottom: 0.5em; }
  .main-notificaciones .bloqueados .bloqueado .imagen img {
    width: 3.12em; }
  .main-notificaciones .bloqueados .bloqueado .content .titulo {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    margin-top: 0.5em; }
  .main-notificaciones .bloqueados .bloqueado .btn-secondary {
    background: #2980B9;
    border: none;
    margin-top: 0.5em; }
    .main-notificaciones .bloqueados .bloqueado .btn-secondary a {
      color: #fff;
      text-decoration: none; }

.main-mensajeria {
  background: #808B96;
  height: 100vh; }
  .main-mensajeria a {
    text-decoration: none; }
  .main-mensajeria .btn {
    height: 1.8em;
    padding-top: 0;
    padding-bottom: 0; }
  .main-mensajeria .botones {
    margin-top: 1em; }
    .main-mensajeria .botones .izquierda,
    .main-mensajeria .botones .derecha {
      background: #B5B6B6;
      border-radius: 0;
      border: none; }
      .main-mensajeria .botones .izquierda a,
      .main-mensajeria .botones .derecha a {
        text-decoration: none;
        color: #000;
        font-size: 0.9em;
        font-family: "PT Sans", sans-serif;
        text-align: center; }
    .main-mensajeria .botones .activo {
      background: #16A085; }
      .main-mensajeria .botones .activo a {
        color: #fff; }
  .main-mensajeria .barrabusqueda .barra input {
    border-right: none;
    border-color: #EDEEED; }
  .main-mensajeria i {
    background: #fff;
    color: #b4b5b6;
    border-top: 1px solid #EDEEED;
    border-bottom: 1px solid #EDEEED;
    border-right: 1px solid #EDEEED;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding-top: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em; }
  .main-mensajeria .contactos .contacto {
    border-top: 0.02em solid #b4b5b6;
    border-bottom: 0.02em solid #b4b5b6; }
    .main-mensajeria .contactos .contacto a {
      width: 62.5em;
      text-align: center;
      text-decoration: none;
      margin: 1px solid #b4b5b6; }
    .main-mensajeria .contactos .contacto .imagen {
      display: flex;
      justify-content: flex-end; }
      .main-mensajeria .contactos .contacto .imagen img {
        width: 3.62em;
        height: 3.62em;
        margin-top: 0.2em; }
    .main-mensajeria .contactos .contacto .content .titulo {
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
      margin-top: 0.3em;
      color: #fff;
      text-decoration: none; }
    .main-mensajeria .contactos .contacto .content .texto {
      font-family: "PT Sans", sans-serif;
      font-weight: 400;
      color: #fff;
      margin-top: -1em; }

.chat-history {
  background: #EDEEED;
  width: 100vw;
  height: 60vh;
  border-bottom: 0.12em solid #b4b5b6;
  overflow-y: scroll; }
  .chat-history ul {
    list-style: none; }
  .chat-history .message-data {
    margin-bottom: 15px; }
  .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 0.375em;
    font-size: 0.8em; }
  .chat-history .message-data-name {
    font-size: 0.95em;
    font-family: "PT Sans", sans-serif; }
  .chat-history .message {
    color: #fff;
    padding: 1.125em 1.25em;
    line-height: 1.625em;
    font-size: 1em;
    border-radius: 0.4375em;
    margin-bottom: 1.875em;
    width: 90%;
    position: relative; }
    .chat-history .message:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #01A9DB;
      border-width: 0.625em;
      margin-left: -0.625em; }
  .chat-history .my-message {
    background: #01A9DB; }
  .chat-history .other-message {
    left: 3em;
    background: #5FB404; }
    .chat-history .other-message:after {
      border-bottom-color: #5FB404;
      left: 93%; }

.chat-messages {
  background: #EDEEED;
  padding: 1.5em;
  width: 100vw;
  height: 25vh; }
  .chat-messages textarea {
    width: 100%;
    border: 0.065em solid #b4b5b6;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    resize: none; }
  .chat-messages button {
    color: #01A9DB;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer; }

.main-billetera {
  height: 12.5em; }
  .main-billetera .contenedor {
    overflow: visible; }
  .main-billetera .boton-canjear {
    text-align: center; }
    .main-billetera .boton-canjear button a {
      color: #fff;
      text-decoration: none; }
    .main-billetera .boton-canjear .boton-verde {
      margin-top: -1.5em;
      background: #5FB404;
      color: #fff;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      font-size: 1.2em;
      border-radius: 0.4em; }
      .main-billetera .boton-canjear .boton-verde:hover {
        background: #01DF74; }
  .main-billetera .container {
    width: 80%; }
  .main-billetera .datos {
    text-align: center; }
    .main-billetera .datos input,
    .main-billetera .datos select {
      border-radius: 1em;
      margin-bottom: 0.8em; }
    .main-billetera .datos form {
      text-align: center; }
    .main-billetera .datos .texto {
      text-align: center;
      margin-top: 0.5em;
      color: #808B96;
      font-size: 1.2em; }
    .main-billetera .datos button {
      width: 100%;
      border-radius: 1em;
      background: #16A085;
      color: #fff;
      font-weight: 700; }
      .main-billetera .datos button:hover {
        background: #01DF74; }

.main-movimientos {
  height: 100vh;
  background: url(../img/fondoregistro.jpg) #16A085;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .main-movimientos .separador {
    height: 2.2em; }
  .main-movimientos .container {
    width: 90%; }
    .main-movimientos .container .tabla {
      overflow-y: scroll;
      height: 24em; }
      .main-movimientos .container .tabla::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); }
      .main-movimientos .container .tabla::-webkit-scrollbar {
        width: 5px; }
      .main-movimientos .container .tabla::-webkit-scrollbar-corner {
        background-color: rgba(0, 0, 0, 0.2); }
      .main-movimientos .container .tabla table {
        border-collapse: separate;
        border-spacing: 0; }
        .main-movimientos .container .tabla table thead {
          border: 1px solid #fff;
          color: #16A085;
          font-size: 0.9em; }
          .main-movimientos .container .tabla table thead th {
            border: 1px solid #fff;
            background: #fff;
            padding: 0.6em; }
            .main-movimientos .container .tabla table thead th:first-child {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px; }
            .main-movimientos .container .tabla table thead th:last-child {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px; }
        .main-movimientos .container .tabla table tbody {
          color: #fff; }
          .main-movimientos .container .tabla table tbody tr .monto,
          .main-movimientos .container .tabla table tbody tr .detalle,
          .main-movimientos .container .tabla table tbody tr .cuenta {
            font-size: 0.8em; }
          .main-movimientos .container .tabla table tbody tr .fecha {
            font-size: 0.6em; }
          .main-movimientos .container .tabla table tbody tr:first-child {
            border: 1px solid #fff; }
        .main-movimientos .container .tabla table::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2); }
        .main-movimientos .container .tabla table::-webkit-scrollbar {
          width: 5px; }
        .main-movimientos .container .tabla table::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2); }

.main-locatecomercios #map {
  margin-top: -3.37em;
  width: 100%;
  height: 600px; }
.main-locatecomercios .input-group {
  top: 0.8em;
  left: 22em; }
  .main-locatecomercios .input-group input {
    z-index: 100;
    width: 18.75em;
    border-right: none;
    border-top-color: #16A085;
    border-bottom-color: #16A085;
    border-left-color: #16A085; }
  .main-locatecomercios .input-group i {
    z-index: 50;
    display: flex;
    background: #fff;
    color: #16A085;
    border-top: 1px solid #16A085;
    border-bottom: 1px solid #16A085;
    border-right: 1px solid #16A085;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding-top: 0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em; }

.main-invite .container {
  width: 80%; }
  .main-invite .container .info {
    margin-top: 2em; }
    .main-invite .container .info .titulo {
      color: #16A085;
      text-align: center; }
    .main-invite .container .info .texto {
      text-align: center;
      font-weight: 700; }
    .main-invite .container .info .form-group {
      display: flex;
      justify-content: center; }
      .main-invite .container .info .form-group input {
        width: 100%;
        border-bottom: 2px solid #808B96;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-top: 1em;
        padding-bottom: 0.3em; }
        .main-invite .container .info .form-group input:hover {
          border-bottom: 2px solid #16A085; }
    .main-invite .container .info .boton-invite {
      display: flex;
      justify-content: center; }
      .main-invite .container .info .boton-invite button {
        border-radius: 25px;
        padding: 0.7em;
        background: #16A085;
        color: #fff;
        border-color: #16A085;
        border: none;
        font-weight: 700;
        margin-top: 1em; }
        .main-invite .container .info .boton-invite button:hover {
          background: #48C9B0;
          cursor: pointer; }

.main-datauser .container .datos {
  display: flex;
  justify-content: center;
  padding-top: 0.5em; }
  .main-datauser .container .datos .imagen {
    text-align: center; }
    .main-datauser .container .datos .imagen img {
      border-radius: 50%;
      width: 7.25em;
      height: 7.25em;
      border: 6px solid rgba(47, 210, 148, 0.2); }
  .main-datauser .container .datos input {
    margin: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #16A085;
    padding: 0.5em;
    width: 300px; }
    .main-datauser .container .datos input::placeholder {
      color: #000;
      padding-left: 1em; }
  .main-datauser .container .datos .boton {
    text-align: center; }
    .main-datauser .container .datos .boton button {
      width: 100%;
      border-radius: 25px;
      padding: 0.5em;
      background: #16A085;
      color: #fff;
      border-color: #fff;
      border: none;
      font-weight: 700;
      margin-top: 1em; }
      .main-datauser .container .datos .boton button:hover {
        background: #EDEEED;
        color: #16A085;
        cursor: pointer; }

.divisor {
  height: 2em; }

.contenedor-changepassword {
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  border-radius: 4px; }
  .contenedor-changepassword .form-group {
    text-align: center; }
    .contenedor-changepassword .form-group input {
      border: none;
      border-bottom: 1px solid #16A085; }
    .contenedor-changepassword .form-group button {
      background: #16A085;
      color: #fff;
      border: #16A085;
      border-radius: 1.2em;
      cursor: pointer;
      padding: 0.5em; }
      .contenedor-changepassword .form-group button:hover {
        background: #EDEEED;
        border: #EDEEED;
        color: #16A085; }

@media screen and (max-width: 767px) {
  .main .menu-principal .container {
    margin-top: 1em;
    height: 10em;
    text-align: center; }
    .main .menu-principal .container .btn {
      border-top: 0.15em solid #48C9B0;
      border-bottom: 0.15em solid #48C9B0;
      border-left: 0.04em solid #16A085;
      border-right: 0.04em solid #16A085;
      border-radius: 20%;
      font-size: 4em;
      width: 2em; } }
@media screen and (max-width: 575px) {
  .main .usuario .contenedor .texto .nombre {
    font-weight: 700;
    color: #808B96;
    padding-top: 0.2em;
    padding-bottom: 0.2em; }
  .main .usuario .contenedor .texto .numero {
    color: #808B96; }

  .main .menu-principal .container {
    margin-top: -3.8em;
    height: 8em;
    text-align: center; }
    .main .menu-principal .container button img {
      width: 1em;
      padding-bottom: 0.2em; }
    .main .menu-principal .container .titulo1 {
      margin-left: 2.4em;
      margin-bottom: 2em; }
    .main .menu-principal .container .titulo2 {
      margin-right: 2.5em;
      margin-bottom: 2em; }
    .main .menu-principal .container .titulo3 {
      margin-left: 2.4em; }
    .main .menu-principal .container .titulo4 {
      margin-right: 2.4em; }
    .main .menu-principal .container .btn {
      background: #fff;
      border-top: 0.15em solid #48C9B0;
      border-bottom: 0.15em solid #48C9B0;
      border-left: 0.04em solid #16A085;
      border-right: 0.04em solid #16A085;
      border-radius: 30%;
      font-size: 3em;
      width: 2em; }
    .main .menu-principal .container .btn1 {
      margin-left: 0.8em; }
    .main .menu-principal .container .btn2 {
      margin-right: 0.8em; }
    .main .menu-principal .container .btn3 {
      margin-left: 0.8em; }
    .main .menu-principal .container .btn4 {
      margin-right: 0.8em; } }
@media screen and (max-width: 389px) {
  .main .menu-principal .container .titulo1 {
    margin-left: 0em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo2 {
    margin-right: 0em;
    margin-bottom: 2em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo3 {
    margin-left: 0em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo4 {
    margin-top: 0.2em;
    margin-right: 0em; }
  .main .menu-principal .container .btn {
    background: #fff;
    border-top: 0.15em solid #48C9B0;
    border-bottom: 0.15em solid #48C9B0;
    border-left: 0.04em solid #16A085;
    border-right: 0.04em solid #16A085;
    border-radius: 30%;
    font-size: 3em;
    width: 2em; }
  .main .menu-principal .container .btn1 {
    margin-left: 0em; }
  .main .menu-principal .container .btn2 {
    margin-right: 0em; }
  .main .menu-principal .container .btn3 {
    margin-left: 0em; }
  .main .menu-principal .container .btn4 {
    margin-right: 0em; } }
@media screen and (max-width: 992px) {
  .main-notificaciones .botones2 .commerceblock,
  .main-notificaciones .botones2 .deleteall {
    margin-right: 1em; } }
@media screen and (max-width: 767px) {
  .main-notificaciones .botones {
    margin-top: 0; }
  .main-notificaciones .botones2 .commerceblock,
  .main-notificaciones .botones2 .deleteall {
    margin-right: 0em; }
    .main-notificaciones .botones2 .commerceblock .texto,
    .main-notificaciones .botones2 .deleteall .texto {
      font-size: 0.6em; }
  .main-notificaciones .botones2 .commerceblock {
    margin-right: 2em; } }
@media screen and (max-width: 575px) {
  .main-notificaciones .notificaciones {
    max-height: 350px;
    overflow: scroll; }
    .main-notificaciones .notificaciones .notificacion .imagen {
      padding-top: 0.8em;
      margin-left: -2em; }
      .main-notificaciones .notificaciones .notificacion .imagen img {
        width: 3em; }
    .main-notificaciones .notificaciones .notificacion .content {
      padding-left: 1.4em; }
      .main-notificaciones .notificaciones .notificacion .content .titulo {
        font-size: 0.96em;
        font-weight: 700; }
      .main-notificaciones .notificaciones .notificacion .content .texto {
        font-size: 0.9em;
        margin-top: -1.2em;
        line-height: 1em; }
    .main-notificaciones .notificaciones .notificacion .btn-secondary {
      width: 100%;
      margin-top: -0.8em; } }
@media screen and (max-width: 575px) {
  .main-notificaciones .bloqueados {
    max-height: 300px;
    overflow: scroll; }
    .main-notificaciones .bloqueados .bloqueado .imagen img {
      margin-top: 0.4em;
      width: 3.12em; }
    .main-notificaciones .bloqueados .bloqueado .content .titulo {
      margin-top: 0em; }
    .main-notificaciones .bloqueados .bloqueado .content .btn-secondary {
      margin-top: -0.5em; } }
@media screen and (max-width: 575px) {
  .main-mensajeria .contactos {
    max-height: 350px;
    overflow: scroll; }
    .main-mensajeria .contactos .contacto .imagen {
      margin-top: 0.5em; } }
@media screen and (max-width: 993px) {
  .header .chat-header .icono-derecha {
    padding-left: 4em; } }
@media screen and (max-width: 575px) {
  .header .chat-header {
    padding: 0.7em; }
    .header .chat-header .icono-izquierda {
      padding-top: 0.28em;
      padding-left: 0;
      font-size: 1.1em; }
    .header .chat-header .imagen {
      padding-top: 0.6em;
      padding-bottom: 0.2em; }
      .header .chat-header .imagen img {
        width: 3em;
        height: 3em; }
    .header .chat-header .titulo {
      padding-left: 0;
      font-size: 0.9em;
      padding-top: 1.4em; }
    .header .chat-header .icono-derecha {
      padding-top: 1em;
      padding-left: 2em; }
      .header .chat-header .icono-derecha img {
        width: 1.3em;
        height: 1.3em; } }
@media screen and (max-width: 335px) {
  .header .chat-header .icono-derecha {
    padding-left: 0em; } }
@media screen and (max-height: 500px) {
  .header {
    height: 15vh; }
    .header .chat-header {
      padding: 0em; } }
@media screen and (max-height: 420px) {
  .header {
    height: 15vh; }
    .header .chat-header {
      padding: 0.6em; }
      .header .chat-header .icono-izquierda {
        margin-top: -0.8em; }
      .header .chat-header .imagen {
        padding-top: 0em;
        padding-bottom: 0em; }
        .header .chat-header .imagen img {
          width: 2em;
          height: 2em; }
      .header .chat-header .titulo {
        font-size: 0.8em;
        padding-top: 0em; }
      .header .chat-header .icono-derecha {
        padding-top: 0em; }

  .chat-history {
    height: 60vh; }

  .chat-messages {
    padding: 1em;
    height: 25vh; }
    .chat-messages textarea {
      height: 3em; } }
@media screen and (max-height: 350px) {
  .header .chat-header {
    padding-top: 0.3em; }
  .header .imagen img {
    width: 1.5em;
    height: 1.5em; }
  .header .imagen .titulo {
    font-size: 0.75em; }

  .chat-messages {
    padding: 0.2em; }
    .chat-messages textarea {
      height: 2em; }
    .chat-messages button {
      width: 0.5em; } }
@media screen and (max-width: 340px) {
  .header-billetera .money-user .contenedor {
    text-align: center; }
    .header-billetera .money-user .contenedor .texto .saldo {
      font-size: 1.5em; }
    .header-billetera .money-user .contenedor .texto .monto {
      font-size: 3em;
      margin-bottom: -0.15em; }

  .main-billetera .boton-canjear .boton-verde {
    margin-top: -4.6em;
    font-size: 1.1em; }
  .main-billetera .datos {
    margin-top: -1.5em; } }
@media screen and (max-width: 570px) {
  .header-movimientos .barra .titulo {
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 767px) {
  .main-locatecomercios #map {
    margin-top: -2.8em;
    width: 100%;
    height: 500px; }
  .main-locatecomercios .input-group {
    top: 1.1em;
    left: 6em; }
    .main-locatecomercios .input-group input {
      width: 12em;
      border-top-color: #16A085;
      border-bottom-color: #16A085;
      border-left-color: #16A085; }
    .main-locatecomercios .input-group i {
      z-index: 50;
      display: flex;
      background: #fff;
      color: #16A085;
      border-top: 1px solid #16A085;
      border-bottom: 1px solid #16A085;
      border-right: 1px solid #16A085;
      border-top-right-radius: 15%;
      border-bottom-right-radius: 15%;
      padding-top: 0.7em;
      padding-left: 0.4em;
      padding-right: 0.4em; } }
@media screen and (max-width: 360px) {
  .main-locatecomercios #map {
    margin-top: -2.8em;
    width: 100%;
    height: 345px; }
  .main-locatecomercios .input-group {
    top: 1.15em;
    left: 6em; }
    .main-locatecomercios .input-group input {
      width: 9em;
      border-top-color: #16A085;
      border-bottom-color: #16A085;
      border-left-color: #16A085; }
    .main-locatecomercios .input-group i {
      z-index: 50;
      display: flex;
      background: #fff;
      color: #16A085;
      border-top: 1px solid #16A085;
      border-bottom: 1px solid #16A085;
      border-right: 1px solid #16A085;
      border-top-right-radius: 15%;
      border-bottom-right-radius: 15%;
      padding-top: 0.7em;
      padding-left: 0.4em;
      padding-right: 0.4em; } }
@media screen and (max-width: 570px) {
  .header-changepassword .barra .titulo {
    display: flex;
    justify-content: center; }

  .contenedor-changepassword {
    width: 80%; } }

/*# sourceMappingURL=estilos.css.map */
