// Estilos front miembros pymcash
$aquamarina: #16A085
$azulelectrico: #2980B9
$azulcielo: #01A9DB
$grisoscuro: #808B96
$grisclaro: #EDEEED
$grisintermedio: #b4b5b6
$verdesuave: #48C9B0
$verde: #01DF74
$verdepasto: #5FB404
$degradadomenu: linear-gradient(to left, $azulelectrico, $verdesuave 50%)
$fondodegradado: linear-gradient(to bottom, $verdesuave, $azulcielo 100%)

$font-family: 'Roboto', sans-serif
$font-family2: 'PT Sans', sans-serif
$font-size: 16px

*
	margin: 0
	padding: 0

body
	background: #fff
	font-size: $font-size
	font-family: $font-family2

@import header
@import headerchat
@import header-billetera
@import header-movimientos
@import header-datauser
@import header-changepassword
@import main
@import main-notificaciones
@import main-mensajeria
@import main-chat
@import main-billetera
@import main-movimientos
@import main-localizarcomercios
@import main-invite
@import main-datauser
@import main-changepassword
@import mediaqueries
@import mediaqueries-notificaciones
@import mediaqueries-mensajeria
@import mediaqueries-chat
@import mediaqueries-billetera
@import mediaqueries-movimientos
@import mediaqueries-localizarcomercios
@import mediaqueries-changepassword

// mediaqueries-notificaciones = notificaciones y comercios bloqueados
