* {
  margin: 0;
  padding: 0; }

html, body {
  background: linear-gradient(to bottom, #48C9B0, #01A9DB 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  min-height: 100vh; }

header .icono-izquierda {
  position: fixed;
  color: #fff;
  font-size: 1.35em;
  left: 0.15em; }
header .texto1 {
  color: #fff;
  padding-top: 0.3em;
  margin-left: -1em; }
header .texto2 {
  color: #fff;
  padding-top: 0.6em;
  font-size: 1.4em; }

main .imagen {
  display: flex;
  justify-content: center;
  top: 5.5em; }
  main .imagen img {
    width: 20em;
    height: 20em; }
main .boton {
  display: flex;
  justify-content: center;
  top: 2.3em; }
  main .boton button {
    width: 8em;
    border-radius: 25px;
    padding: 0.5em;
    background: #fff;
    border-color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 1em; }
    main .boton button:hover {
      background: #16A085;
      cursor: pointer; }
      main .boton button:hover a {
        color: #fff; }
    main .boton button a {
      text-decoration: none;
      color: #16A085; }
main .texto {
  text-align: center;
  top: 4em;
  color: #fff;
  font-size: 1em; }
main .link {
  text-align: center;
  top: 6em; }
  main .link a {
    color: #fff;
    text-decoration: none; }

main .chooselogin .titulo {
  text-align: center;
  margin-top: 3em; }
  main .chooselogin .titulo .h1 {
    color: #fff; }
  main .chooselogin .titulo .h2 {
    color: #fff; }
main .chooselogin .texto {
  text-align: center;
  margin-top: -4em; }
main .chooselogin .textocreate {
  text-align: center;
  margin-top: 0em;
  color: #fff;
  font-size: 0.9em; }
main .chooselogin .boton1 {
  margin-top: 11em; }
main .chooselogin .boton {
  display: flex;
  justify-content: center;
  top: 0em; }
  main .chooselogin .boton button {
    width: 12em;
    border-radius: 25px;
    padding: 0.7em;
    background: #fff;
    border-color: #fff;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 0.8em; }
    main .chooselogin .boton button:hover {
      background: #16A085;
      cursor: pointer; }
      main .chooselogin .boton button:hover a {
        color: #fff; }
    main .chooselogin .boton button a {
      text-decoration: none;
      color: #16A085; }
main .chooselogin .link {
  text-align: center;
  top: 4em; }
  main .chooselogin .link a {
    color: #fff;
    text-decoration: none; }

main .user-commerce .form-group {
  text-align: center; }
  main .user-commerce .form-group input {
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    main .user-commerce .form-group input::placeholder {
      color: #fff;
      padding-left: 1.5em; }
  main .user-commerce .form-group .inputpassword {
    width: 20em;
    border-top: none;
    padding: 0.8em;
    padding-top: 0.4em;
    margin-bottom: 0.2em; }
  main .user-commerce .form-group .inputrut {
    width: 20em;
    padding: 1em; }
  main .user-commerce .form-group .icon-lock {
    position: absolute;
    padding-top: 0.4em;
    color: #fff;
    margin-left: -0.2em; }
  main .user-commerce .form-group .icon-user {
    position: absolute;
    padding-top: 1em;
    color: #fff;
    margin-left: -0.2em; }
main .user-commerce .link {
  top: 2em; }
main .user-commerce .titulo {
  text-align: center;
  top: 0em;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 6em; }
  main .user-commerce .titulo .h3 {
    color: #fff;
    font-weight: 400;
    font-size: 1.7em; }
main .user-commerce .imagen {
  margin: 0em;
  padding: 0em;
  top: 0em;
  margin-bottom: -7em; }
  main .user-commerce .imagen img {
    margin-top: -4em; }
main .user-commerce .boton button {
  color: #16A085;
  width: 13em; }
  main .user-commerce .boton button:hover {
    color: #fff; }

main .recoverpass .container {
  width: 80%; }
  main .recoverpass .container .info {
    margin-top: 3em; }
    main .recoverpass .container .info .titulo {
      color: #fff;
      text-align: center; }
    main .recoverpass .container .info .texto {
      text-align: center;
      font-weight: 400;
      font-size: 1.2em; }
    main .recoverpass .container .info .form-group {
      margin-top: 6em; }
      main .recoverpass .container .info .form-group input {
        background: transparent;
        width: 100%;
        border-bottom: 2px solid #808B96;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-top: 1em;
        padding-bottom: 0.3em; }
        main .recoverpass .container .info .form-group input:hover {
          border-bottom: 2px solid #fff; }
        main .recoverpass .container .info .form-group input::placeholder {
          color: #fff;
          padding-left: 1em; }
    main .recoverpass .container .info .boton-sendmail {
      display: flex;
      justify-content: center; }
      main .recoverpass .container .info .boton-sendmail button {
        width: 20em;
        border-radius: 25px;
        padding: 0.7em;
        background: #fff;
        color: #16A085;
        border-color: #fff;
        border: none;
        font-weight: 700;
        margin-top: 1em; }
        main .recoverpass .container .info .boton-sendmail button:hover {
          background: #16A085;
          cursor: pointer;
          color: #fff; }

main .register-user-commerce .formulario .imagen {
  padding-bottom: 0.5em; }
  main .register-user-commerce .formulario .imagen img {
    width: 8.125em;
    height: 7.125em;
    border-radius: 50%;
    width: 7.25em;
    border: 6px solid rgba(255, 255, 255, 0.2); }
main .register-user-commerce .formulario .boton a {
  background: #fff;
  padding: 0.4em;
  border-radius: 12px;
  color: #16A085;
  cursor: pointer; }
  main .register-user-commerce .formulario .boton a:hover {
    background: #16A085;
    color: #fff;
    cursor: pointer; }
main .register-user-commerce .formulario .boton button {
  color: #16A085;
  padding: 0.3em; }
  main .register-user-commerce .formulario .boton button:hover {
    color: #fff; }
main .register-user-commerce .formulario .boton2 {
  margin-top: 0.5em; }
  main .register-user-commerce .formulario .boton2 button {
    color: #16A085;
    padding: 0.3em;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #fff; }
    main .register-user-commerce .formulario .boton2 button:hover {
      color: #fff;
      cursor: pointer;
      background: #16A085;
      border-color: #16A085; }
main .register-user-commerce .formulario .form-group input {
  background: transparent;
  color: #fff;
  margin-left: 1em;
  border: 1px solid #fff;
  padding: 0.5em;
  width: 18.75em;
  border-radius: 15px; }
  main .register-user-commerce .formulario .form-group input::placeholder {
    color: #fff;
    padding-left: 1em; }
main .register-user-commerce .formulario .checkbox {
  color: #fff; }
  main .register-user-commerce .formulario .checkbox input[type="checkbox"] {
    width: 1em; }
main .boton-complete {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em; }
  main .boton-complete button {
    color: #16A085;
    padding: 0.4em;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    font-size: 1.2em; }
    main .boton-complete button:hover {
      color: #fff;
      cursor: pointer;
      background: #16A085;
      border-color: #16A085; }
main #map {
  width: 100vw;
  height: 75vh; }

main .register-success .titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  padding-top: 2em;
  font-size: 3em;
  margin-top: 1.5em; }
main .register-success .texto {
  margin-top: 0.5em;
  width: 100%;
  font-size: 1.5em; }
main .register-success .boton {
  width: 100%; }

@media screen and (max-height: 540px) {
  body {
    height: 100vh; }

  main .imagen {
    top: 2em; }
    main .imagen img {
      width: 18em;
      height: 18em; }
  main .boton {
    top: -2em; }
    main .boton button a {
      font-size: 0.9em; }
  main .texto {
    top: 0em; }
  main .link {
    text-align: center;
    top: 0em; } }
@media screen and (max-height: 450px) {
  main .imagen {
    top: 0em; }
    main .imagen img {
      width: 18em;
      height: 18em; }
  main .boton {
    top: -5em; }
  main .texto {
    top: -3em; }
  main .link {
    text-align: center;
    top: -3em; } }
@media screen and (max-height: 540px) {
  main .chooselogin .titulo {
    margin-top: 1em; }
    main .chooselogin .titulo .h1 {
      font-size: 2em; }
  main .chooselogin .texto {
    margin-top: 0em; }
  main .chooselogin .boton1 {
    margin-top: 3em; }
  main .chooselogin .boton {
    top: 2.3em; }
    main .chooselogin .boton button {
      margin-top: 1em; }
  main .chooselogin .link {
    top: 4em; } }
@media screen and (max-width: 360px) {
  main .chooselogin .titulo {
    margin-top: 1em; }
    main .chooselogin .titulo .h1 {
      font-size: 1.6em; }
    main .chooselogin .titulo .h2 {
      font-size: 1.6em; }
  main .chooselogin .texto {
    margin-top: -4em;
    font-size: 0.9em; }
  main .chooselogin .textocreate {
    font-size: 0.9em; }
  main .chooselogin .boton1 {
    margin-top: 8em; }
  main .chooselogin .boton {
    top: 2.3em; }
    main .chooselogin .boton button {
      margin-top: 1em; }
  main .chooselogin .link {
    top: 6em; } }
@media screen and (max-width: 358px) {
  main .user-commerce .form-group {
    text-align: center; }
    main .user-commerce .form-group .inputpassword {
      width: 14em;
      padding: 0.8em;
      margin-bottom: 1em;
      padding-top: 0.3em; }
    main .user-commerce .form-group .inputrut {
      width: 14em;
      padding: 1em; }
  main .user-commerce .titulo {
    margin-bottom: -3em;
    padding-top: 0.4em;
    padding-bottom: 6em; }
  main .user-commerce .boton button {
    margin-top: 0em; }
  main .user-commerce .link {
    margin-top: 1em; } }
@media screen and (max-height: 430px) {
  main .user-commerce .titulo {
    padding-bottom: 0em; } }
@media screen and (max-height: 450px) {
  main .recoverpass .container .info {
    margin-top: 0em; }
    main .recoverpass .container .info .texto {
      margin-top: 3em; }
    main .recoverpass .container .info .form-group {
      margin-top: 0em; }
  main .recoverpass .container .boton-sendmail {
    margin-top: -1.7em; } }
@media screen and (max-width: 690px) {
  header .texto2 {
    color: #fff;
    padding-top: 1.3em;
    margin-left: 1.3em;
    font-weight: 700;
    font-size: 1em; } }
@media screen and (max-height: 450px) {
  main .register-user-commerce {
    overflow: scroll;
    max-height: 350px; } }
@media screen and (max-width: 360px) {
  main .register-user-commerce {
    overflow: scroll;
    max-height: 450px; }
    main .register-user-commerce .formulario input {
      width: 12.5em; }
      main .register-user-commerce .formulario input::placeholder {
        color: #fff;
        padding-left: 1em; }
  main .boton-complete {
    margin-top: 0.5em; }

  header .texto2 {
    margin-left: 2em;
    margin-right: 1em; } }
@media screen and (max-width: 575px) {
  main .register-success .titulo {
    padding-top: 2em;
    font-size: 2.5em; }
  main .register-success .texto {
    font-size: 1.3em; }
  main .register-success .boton button {
    font-size: 1.25em; } }

/*# sourceMappingURL=estilos2.css.map */
