* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-size: 16px;
  font-family: "PT Sans", sans-serif; }

header .header-changepassword .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-changepassword .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-changepassword .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-changepassword .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.3em; }

header {
  background: linear-gradient(to left, #2980B9, #48C9B0 50%);
  padding-top: 0.12em; }
  header .menu {
    height: 3.1em;
    padding-bottom: 0em; }
    header .menu img {
      width: 3.6em;
      height: 2.7em; }
    header .menu .locate img {
      width: 6em;
      height: 2.7em; }
    header .menu nav span {
      margin-left: 0em; }
    header .menu .linea2 {
      border-bottom: 0.2em solid #fff; }
  header .menu3 {
    background: #fff;
    width: 100%;
    padding-top: 0em;
    margin-bottom: -0.5em;
    height: 3.1em; }
    header .menu3 a {
      padding-bottom: 0.18em; }
      header .menu3 a img {
        width: 3.5em;
        height: 2.8em; }
    header .menu3 .locate img {
      width: 5.2em; }
    header .menu3 nav .chat .badge {
      margin-left: 0.3em; }
    header .menu3 .linea {
      border-bottom: 0.18em solid #16A085; }
  header .menu2 {
    height: 3em; }
    header .menu2 i {
      color: #fff;
      font-size: 1.2em; }
  header .barra-lateral-derecha {
    width: 13em;
    position: fixed;
    padding-bottom: 0.125em;
    padding-left: 0;
    top: 3em;
    right: 1em;
    z-index: 200;
    background: #fff;
    border-radius: 1em;
    transform: translateY(-145%);
    transition: all 0.4s ease; }
    header .barra-lateral-derecha.active {
      transform: translateY(0%); }
    header .barra-lateral-derecha nav {
      padding: 0.5em;
      border-radius: 2em; }
      header .barra-lateral-derecha nav a {
        display: block;
        display: flex;
        justify-content: flex-start;
        padding: 2px;
        font-family: "PT Sans", sans-serif;
        color: #000;
        border-radius: 3em; }
        header .barra-lateral-derecha nav a:hover {
          background: #3d3d3d;
          color: #fff;
          text-decoration: none; }
  header .fondo-enlace2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.35);
    z-index: 99;
    display: none; }
    header .fondo-enlace2.active {
      display: block; }

header .header-commerce .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-commerce .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-commerce .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-commerce .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center; }

.header-billetera-comercio {
  background: url("../img/fondobilletera.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .header-billetera-comercio .icono-izquierda {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: #fff;
    font-size: 1.2em; }
  .header-billetera-comercio .saldo {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .header-billetera-comercio .saldo p {
      padding-top: 2em;
      font-size: 2em;
      font-weight: 400;
      font-family: "PT Sans", sans-serif;
      color: #fff; }
  .header-billetera-comercio .imagen {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 4em; }
    .header-billetera-comercio .imagen img {
      width: 200px;
      height: 50px; }
  .header-billetera-comercio .monto {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -4em; }
    .header-billetera-comercio .monto p {
      font-size: 4em;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      color: #fff; }
  .header-billetera-comercio .imagen2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -2.8em; }
    .header-billetera-comercio .imagen2 img {
      width: 50px;
      height: 50px; }

header .header-movimientos .barra {
  padding-top: 0.68em;
  padding-bottom: 0.68em; }
  header .header-movimientos .barra .icono-izquierda {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.2em; }
    header .header-movimientos .barra .icono-izquierda a i {
      color: #fff;
      font-size: 1.3em; }
  header .header-movimientos .barra .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em; }

.header {
  width: 100vw;
  height: 15vh;
  background: #EDEEED;
  border-bottom: 0.12em solid #b4b5b6; }
  .header .chat-header {
    padding: 0.6em;
    display: flex;
    font-size: 1.06em; }
    .header .chat-header .icono-izquierda {
      display: flex;
      justify-content: flex-start;
      font-size: 1.2em;
      font-weight: 400;
      color: #01A9DB; }
    .header .chat-header .imagen {
      display: flex;
      justify-content: flex-end;
      padding-top: 0.2em;
      padding-bottom: 0.2em; }
      .header .chat-header .imagen img {
        width: 3em;
        height: 3em; }
    .header .chat-header .titulo {
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      padding-top: 0.7em;
      display: flex;
      justify-content: flex-start; }
    .header .chat-header .icono-derecha {
      padding-top: 0.7em;
      padding-left: 7em; }
    .header .chat-header .barra-lateral-chat {
      width: 13em;
      position: fixed;
      padding: 0;
      top: 3.3em;
      right: 1em;
      z-index: 100;
      background: #fff;
      border-radius: 1em;
      transform: translateX(150%);
      transition: all 0.4s ease; }
      .header .chat-header .barra-lateral-chat.active {
        transform: translateX(0%); }
      .header .chat-header .barra-lateral-chat nav {
        padding: 0.5em;
        border-radius: 2em; }
        .header .chat-header .barra-lateral-chat nav a {
          display: block;
          display: flex;
          justify-content: flex-start;
          padding: 2px;
          font-family: "PT Sans", sans-serif;
          color: #000;
          border-radius: 3em; }
          .header .chat-header .barra-lateral-chat nav a:hover {
            background: #3d3d3d;
            color: #fff;
            text-decoration: none; }
    .header .chat-header .fondo-enlace-chat {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.35);
      z-index: 99;
      display: none; }
      .header .chat-header .fondo-enlace-chat.active {
        display: block; }

.main .comercio {
  background: url("../img/fondoperfilcomercio.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19.8em; }
  .main .comercio .contenedor {
    text-align: center; }
    .main .comercio .contenedor .foto {
      margin-top: 3em; }
      .main .comercio .contenedor .foto img {
        width: 7.8125em;
        height: 7.8125em;
        vertical-align: top;
        border-radius: 50%;
        border: 6px solid rgba(255, 255, 255, 0.2); }
    .main .comercio .contenedor .texto {
      margin-top: 0.5em; }
      .main .comercio .contenedor .texto .nombre {
        color: #fff;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        padding-bottom: 0.4em; }
      .main .comercio .contenedor .texto .texto {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 0.7em;
        color: #fff;
        margin-top: -1em;
        margin-bottom: 0.2em; }
    .main .comercio .contenedor .tuerca {
      float: left;
      background-color: transparent;
      top: 4em;
      left: 1em;
      display: flex;
      position: absolute; }
    .main .comercio .contenedor .barra-lateral-izquierda {
      width: 13em;
      position: fixed;
      padding-bottom: 0.125em;
      padding-left: 0;
      top: 4.2em;
      left: 2.4em;
      z-index: 100;
      background: #fff;
      border-radius: 1em;
      transform: translateX(-135%);
      transition: all 0.3s ease; }
      .main .comercio .contenedor .barra-lateral-izquierda.active {
        transform: translateX(0%); }
      .main .comercio .contenedor .barra-lateral-izquierda nav {
        padding: 0.5em;
        border-radius: 2em; }
        .main .comercio .contenedor .barra-lateral-izquierda nav a {
          display: block;
          display: flex;
          justify-content: flex-start;
          padding: 2px;
          font-family: "PT Sans", sans-serif;
          color: #000;
          border-radius: 3em; }
          .main .comercio .contenedor .barra-lateral-izquierda nav a:hover {
            background: #3d3d3d;
            color: #fff;
            text-decoration: none; }
.main .fondo-enlace {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
  display: none; }
  .main .fondo-enlace.active {
    display: block; }
.main .container {
  margin-top: 4em;
  height: 12em;
  text-align: center; }
  .main .container button {
    margin-bottom: 0.1em; }
  .main .container .btn {
    border-top: 0.15em solid #48C9B0;
    border-bottom: 0.15em solid #48C9B0;
    border-left: 0.04em solid #16A085;
    border-right: 0.04em solid #16A085;
    border-radius: 20%;
    font-size: 4em;
    width: 2em; }
  .main .container .titulo1,
  .main .container .titulo2,
  .main .container .titulo3,
  .main .container .titulo4 {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-size: 1em;
    color: #808B96; }

.main-locateusers #map {
  margin-top: 0.05em;
  width: 100%;
  height: 600px; }

.contenedor {
  margin: auto;
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .contenedor .titulo {
    width: 100%;
    margin-top: 1.5em;
    display: flex;
    justify-content: center; }
    .contenedor .titulo p {
      color: #16A085;
      font-size: 1.6em;
      font-weight: 700; }
  .contenedor .main-venta {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    border-radius: 4px; }
    .contenedor .main-venta .titulo2 {
      width: 100%;
      padding-top: 0.5em;
      text-align: center;
      border-bottom: 1px solid #EDEEED; }
      .contenedor .main-venta .titulo2 p {
        font-size: 1.4em; }
    .contenedor .main-venta .monto,
    .contenedor .main-venta .numeromiembro,
    .contenedor .main-venta .numeroboleta {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding: 0.5em;
      font-size: 1.1em;
      border-bottom: 1px solid #EDEEED; }
      .contenedor .main-venta .monto .texto,
      .contenedor .main-venta .numeromiembro .texto,
      .contenedor .main-venta .numeroboleta .texto {
        width: 50%; }
        .contenedor .main-venta .monto .texto p,
        .contenedor .main-venta .numeromiembro .texto p,
        .contenedor .main-venta .numeroboleta .texto p {
          padding-top: 0.2em;
          padding-left: 1em;
          padding-right: 1em;
          display: flex;
          justify-content: flex-end; }
      .contenedor .main-venta .monto .input,
      .contenedor .main-venta .numeromiembro .input,
      .contenedor .main-venta .numeroboleta .input {
        width: 50%;
        display: flex;
        justify-content: flex-start; }
        .contenedor .main-venta .monto .input input,
        .contenedor .main-venta .numeromiembro .input input,
        .contenedor .main-venta .numeroboleta .input input {
          height: 1.875em;
          width: 115px;
          border: 1px solid #16A085; }
    .contenedor .main-venta .boton {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em; }
      .contenedor .main-venta .boton button {
        padding: 0.2em;
        width: 30%;
        background: #16A085;
        color: #fff;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        font-size: 1.2em; }
        .contenedor .main-venta .boton button:hover {
          background: #EDEEED;
          color: #16A085; }

.main-datacommerce .container .datos {
  display: flex;
  justify-content: center;
  padding-top: 0.5em; }
  .main-datacommerce .container .datos .imagen {
    text-align: center; }
    .main-datacommerce .container .datos .imagen img {
      border-radius: 50%;
      width: 7.25em;
      height: 7.25em;
      border: 6px solid rgba(47, 210, 148, 0.2); }
  .main-datacommerce .container .datos input {
    margin: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #16A085;
    padding: 0.5em;
    width: 300px; }
    .main-datacommerce .container .datos input::placeholder {
      color: #000;
      padding-left: 1em; }
  .main-datacommerce .container .datos .boton {
    text-align: center; }
    .main-datacommerce .container .datos .boton button {
      width: 100%;
      border-radius: 25px;
      padding: 0.5em;
      background: #16A085;
      color: #fff;
      border-color: #fff;
      border: none;
      font-weight: 700;
      margin-top: 1em; }
      .main-datacommerce .container .datos .boton button:hover {
        background: #EDEEED;
        color: #16A085;
        cursor: pointer; }

.main-billeteracomercio {
  width: 100%;
  height: 12.5em;
  display: flex;
  justify-content: center; }
  .main-billeteracomercio .boton-movimientos {
    margin-top: 2em; }
    .main-billeteracomercio .boton-movimientos a {
      background: #16A085;
      border-radius: 1.5em;
      padding: 0.5em;
      padding-right: 2em;
      padding-left: 2em;
      color: #fff;
      font-size: 1.2em;
      text-decoration: none; }
      .main-billeteracomercio .boton-movimientos a:hover {
        background: #EDEEED;
        color: #16A085; }
      .main-billeteracomercio .boton-movimientos a img {
        width: 1.3em;
        padding-bottom: 0.3em; }

.main-movimientos .separador {
  height: 2.2em; }
.main-movimientos .container {
  width: 90%; }
  .main-movimientos .container .tabla {
    overflow-y: scroll;
    height: 24em; }
    .main-movimientos .container .tabla::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); }
    .main-movimientos .container .tabla::-webkit-scrollbar {
      width: 5px; }
    .main-movimientos .container .tabla::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.2); }
    .main-movimientos .container .tabla table {
      border-spacing: 0; }
      .main-movimientos .container .tabla table thead {
        border: 1px solid #fff;
        color: #fff;
        background: #fff;
        font-size: 0.9em; }
        .main-movimientos .container .tabla table thead th {
          border: 1px solid #fff;
          background: #16A085;
          padding: 0.6em; }
          .main-movimientos .container .tabla table thead th:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; }
          .main-movimientos .container .tabla table thead th:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px; }
      .main-movimientos .container .tabla table tbody {
        color: #000; }
        .main-movimientos .container .tabla table tbody tr .monto,
        .main-movimientos .container .tabla table tbody tr .detalle,
        .main-movimientos .container .tabla table tbody tr .cuenta {
          font-size: 0.8em; }
        .main-movimientos .container .tabla table tbody tr .fecha {
          font-size: 0.6em; }
        .main-movimientos .container .tabla table tbody tr:first-child {
          border: 1px solid #fff; }
      .main-movimientos .container .tabla table::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); }
      .main-movimientos .container .tabla table::-webkit-scrollbar {
        width: 5px; }
      .main-movimientos .container .tabla table::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); }
  .main-movimientos .container .saldo {
    background: #16A085;
    font-size: 1.3em; }
    .main-movimientos .container .saldo p {
      text-align: right;
      padding-right: 0.2em; }
    .main-movimientos .container .saldo img {
      width: 50px; }

.contenedor-comprapymcash {
  margin: auto;
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .contenedor-comprapymcash .titulo {
    width: 100%;
    margin-top: 1.5em;
    display: flex;
    justify-content: center; }
    .contenedor-comprapymcash .titulo p {
      color: #16A085;
      font-size: 1.6em;
      font-weight: 700; }
  .contenedor-comprapymcash .main-venta {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    border-radius: 4px; }
    .contenedor-comprapymcash .main-venta .titulo2 {
      width: 100%;
      padding-top: 0.5em;
      text-align: center; }
      .contenedor-comprapymcash .main-venta .titulo2 p {
        font-size: 1.4em; }
    .contenedor-comprapymcash .main-venta .imagen {
      width: 100%;
      text-align: center; }
    .contenedor-comprapymcash .main-venta .textodescriptivo {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding: 0.5em;
      font-size: 1.1em; }
      .contenedor-comprapymcash .main-venta .textodescriptivo .texto {
        width: 100%; }
        .contenedor-comprapymcash .main-venta .textodescriptivo .texto p {
          padding-top: 0.3em;
          margin-bottom: -0.05em;
          padding-left: 1em;
          padding-right: 1em;
          font-size: 0.8em;
          display: flex;
          justify-content: center; }
      .contenedor-comprapymcash .main-venta .textodescriptivo .input {
        width: 100%;
        display: flex;
        justify-content: center; }
        .contenedor-comprapymcash .main-venta .textodescriptivo .input input {
          height: 1.875em;
          width: 180px;
          border: 1px solid #16A085;
          padding: 0.1em; }
    .contenedor-comprapymcash .main-venta .boton {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em; }
      .contenedor-comprapymcash .main-venta .boton button {
        padding: 0.2em;
        width: 30%;
        background: #16A085;
        color: #fff;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        font-size: 1.2em; }
        .contenedor-comprapymcash .main-venta .boton button:hover {
          background: #EDEEED;
          color: #16A085; }

.contenedor-comprapymcashpreview {
  margin: auto;
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.8em; }
  .contenedor-comprapymcashpreview .titulo {
    width: 100%;
    margin-top: 1.5em;
    display: flex;
    justify-content: center; }
    .contenedor-comprapymcashpreview .titulo p {
      color: #16A085;
      font-size: 1.6em;
      font-weight: 700; }
  .contenedor-comprapymcashpreview .descripcion {
    width: 100%;
    margin-top: -1em;
    text-align: center; }
    .contenedor-comprapymcashpreview .descripcion p {
      color: #808B96;
      font-size: 1.1em; }
  .contenedor-comprapymcashpreview .main-venta {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    border-radius: 4px; }
    .contenedor-comprapymcashpreview .main-venta .imagen {
      width: 100%;
      text-align: center;
      padding: 0.5em;
      border-bottom: 1px solid #EDEEED; }
      .contenedor-comprapymcashpreview .main-venta .imagen img {
        width: 200px; }
    .contenedor-comprapymcashpreview .main-venta .texto-sm {
      width: 100%;
      padding-top: 0.5em;
      text-align: left;
      padding-left: 0.5em; }
      .contenedor-comprapymcashpreview .main-venta .texto-sm p {
        font-size: 0.8em; }
    .contenedor-comprapymcashpreview .main-venta .detallecompra {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding: 0.5em;
      font-size: 1.1em; }
      .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 135px; }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2); }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion::-webkit-scrollbar {
          width: 5px; }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion::-webkit-scrollbar-corner {
          background-color: rgba(0, 0, 0, 0.2); }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion .numero {
          width: 10%;
          color: #16A085;
          font-weight: 700; }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion .tituloitem {
          width: 60%;
          color: #000;
          font-size: 1em; }
        .contenedor-comprapymcashpreview .main-venta .detallecompra .descripcion .monto {
          width: 30%;
          color: #16A085;
          font-weight: 700; }
    .contenedor-comprapymcashpreview .main-venta .npaquetes {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 1px solid #EDEEED;
      border-bottom: 1px solid #EDEEED; }
      .contenedor-comprapymcashpreview .main-venta .npaquetes .numero {
        padding-top: 0.7em;
        width: 10%;
        color: #16A085;
        font-weight: 700; }
      .contenedor-comprapymcashpreview .main-venta .npaquetes .packs {
        width: 60%;
        padding-top: 0.7em; }
      .contenedor-comprapymcashpreview .main-venta .npaquetes .icono {
        width: 20%; }
        .contenedor-comprapymcashpreview .main-venta .npaquetes .icono img {
          width: 50px;
          height: 50px; }
    .contenedor-comprapymcashpreview .main-venta .pago {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 0.5em;
      border-bottom: 1px solid #EDEEED; }
      .contenedor-comprapymcashpreview .main-venta .pago .texto-stotal {
        width: 50%;
        font-weight: 700; }
      .contenedor-comprapymcashpreview .main-venta .pago .subtotal {
        width: 50%;
        font-weight: 700;
        color: #16A085; }
      .contenedor-comprapymcashpreview .main-venta .pago .texto-total {
        width: 50%;
        padding-top: 0.4em;
        font-weight: 700; }
      .contenedor-comprapymcashpreview .main-venta .pago .total {
        width: 50%;
        padding-top: 0.4em;
        border-top: 1px solid #EDEEED;
        font-weight: 700;
        color: #16A085; }
    .contenedor-comprapymcashpreview .main-venta .boton {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em; }
      .contenedor-comprapymcashpreview .main-venta .boton button {
        padding: 0.3em;
        background: #16A085;
        color: #fff;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        font-size: 1.3em; }
        .contenedor-comprapymcashpreview .main-venta .boton button:hover {
          background: #EDEEED;
          color: #16A085; }

.promodecide {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .promodecide .titulo-enviar {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center; }
    .promodecide .titulo-enviar p {
      font-size: 1.6em;
      color: #16A085;
      font-weight: 700; }
  .promodecide .textos {
    width: 100%;
    text-align: center; }
    .promodecide .textos .texto1 {
      font-weight: 700; }
    .promodecide .textos .texto2,
    .promodecide .textos .texto3 {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 0.9em;
      color: #808B96; }
    .promodecide .textos .texto3 {
      margin-top: -1em; }
  .promodecide .form-enviarpromo {
    width: 100%; }
    .promodecide .form-enviarpromo form {
      padding-top: 1.5em;
      display: flex;
      justify-content: center; }
      .promodecide .form-enviarpromo form select {
        width: 40%;
        border: 1px solid #16A085; }

.chat-history {
  background: #EDEEED;
  width: 100vw;
  height: 60vh;
  border-bottom: 0.12em solid #b4b5b6;
  overflow-y: scroll; }
  .chat-history ul {
    list-style: none; }
  .chat-history .message-data {
    margin-bottom: 15px; }
  .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 0.375em;
    font-size: 0.8em; }
  .chat-history .message-data-name {
    font-size: 0.95em;
    font-family: "PT Sans", sans-serif; }
  .chat-history .message {
    color: #fff;
    padding: 1.125em 1.25em;
    line-height: 1.625em;
    font-size: 1em;
    border-radius: 0.4375em;
    margin-bottom: 1.875em;
    width: 90%;
    position: relative; }
    .chat-history .message:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #01A9DB;
      border-width: 0.625em;
      margin-left: -0.625em; }
  .chat-history .my-message {
    background: #01A9DB; }
  .chat-history .other-message {
    left: 3em;
    background: #5FB404; }
    .chat-history .other-message:after {
      border-bottom-color: #5FB404;
      left: 93%; }

.chat-messages {
  background: #EDEEED;
  padding: 1.5em;
  width: 100vw;
  height: 25vh; }
  .chat-messages textarea {
    width: 100%;
    border: 0.065em solid #b4b5b6;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    resize: none; }
  .chat-messages button {
    color: #01A9DB;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer; }

.main-promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .main-promo .titulo {
    padding-top: 0.5em;
    width: 100%;
    text-align: center; }
    .main-promo .titulo p {
      color: #16A085;
      font-size: 1.6em;
      font-weight: 700; }
  .main-promo .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    border-radius: 4px; }
    .main-promo .contenedor .group-checkall {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0.5em;
      padding-top: 1em;
      border-bottom: 1px solid #EDEEED; }
      .main-promo .contenedor .group-checkall .texto {
        width: 50%;
        display: flex;
        justify-content: center; }
        .main-promo .contenedor .group-checkall .texto p {
          font-size: 1em;
          color: #16A085;
          font-weight: 700; }
      .main-promo .contenedor .group-checkall .input-checkall {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-top: 0.55em; }
    .main-promo .contenedor .group-checkbox {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: scroll;
      height: 200px; }
      .main-promo .contenedor .group-checkbox::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); }
      .main-promo .contenedor .group-checkbox::-webkit-scrollbar {
        width: 5px; }
      .main-promo .contenedor .group-checkbox::-webkit-scrollbar-corner {
        background-color: rgba(0, 0, 0, 0.2); }
      .main-promo .contenedor .group-checkbox li {
        width: 100%;
        list-style: none; }
      .main-promo .contenedor .group-checkbox .contacto {
        height: 3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 3.125em;
        border-bottom: 1px solid #EDEEED; }
        .main-promo .contenedor .group-checkbox .contacto .imagen {
          width: 40%;
          text-align: center;
          padding-top: 0.2em; }
          .main-promo .contenedor .group-checkbox .contacto .imagen img {
            height: 40px;
            width: 40px; }
        .main-promo .contenedor .group-checkbox .contacto .nombre {
          width: 50%;
          padding-top: 0.4em; }
        .main-promo .contenedor .group-checkbox .contacto .input-single {
          width: 30%;
          text-align: left;
          padding-top: 0.7em; }
    .main-promo .contenedor .mensaje {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .main-promo .contenedor .mensaje .textarea {
        width: 100%;
        text-align: center;
        padding-top: 0.5em; }
        .main-promo .contenedor .mensaje .textarea textarea {
          border-radius: 1em;
          text-align: center;
          width: 85%;
          height: 80px;
          border: 1px solid #16A085;
          resize: none; }
      .main-promo .contenedor .mensaje .boton {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0.5em; }
        .main-promo .contenedor .mensaje .boton button {
          width: 50%;
          border-radius: 1em;
          background: #16A085;
          color: #fff;
          font-size: 1.1em; }
          .main-promo .contenedor .mensaje .boton button:hover {
            background: #808B96;
            color: #fff; }

.main-promomail {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .main-promomail .titulo-1 {
    padding-top: 0.7em;
    text-align: center;
    width: 100%; }
    .main-promomail .titulo-1 p {
      color: #16A085;
      font-size: 1.5em; }
  .main-promomail .texto-1 {
    width: 100%;
    text-align: center;
    margin-top: -1em; }
    .main-promomail .texto-1 p {
      color: #808B96; }
  .main-promomail .contenedor {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0.6em;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7); }
    .main-promomail .contenedor .titulomensaje {
      padding: 1em;
      text-align: center;
      width: 100%; }
      .main-promomail .contenedor .titulomensaje input {
        border: none;
        border-bottom: 1px solid #16A085;
        width: 80%; }
    .main-promomail .contenedor .textomensaje {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main-promomail .contenedor .textomensaje .textarea {
        width: 100%;
        text-align: center; }
        .main-promomail .contenedor .textomensaje .textarea label {
          width: 77%;
          text-align: left;
          color: #fff; }
        .main-promomail .contenedor .textomensaje .textarea textarea {
          width: 77%;
          padding: 0.5em;
          border: 1px solid #16A085;
          height: 150px;
          resize: none;
          border-radius: 1em; }
    .main-promomail .contenedor .boton-submit {
      width: 100%;
      text-align: center;
      padding: 0.5em;
      padding-top: 0.8em; }
      .main-promomail .contenedor .boton-submit button {
        background: #16A085;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 1em;
        padding: 0.5em; }
        .main-promomail .contenedor .boton-submit button:hover {
          background: #EDEEED;
          color: #16A085; }

.main-notificaciones {
  background: #EDEEED;
  height: 100vh; }
  .main-notificaciones .btn {
    height: 1.8em;
    padding-top: 0;
    padding-bottom: 0; }
  .main-notificaciones .botones {
    margin-top: 1em; }
    .main-notificaciones .botones .izquierda,
    .main-notificaciones .botones .derecha {
      background: #B5B6B6;
      border-radius: 0;
      border: none; }
      .main-notificaciones .botones .izquierda a,
      .main-notificaciones .botones .derecha a {
        text-decoration: none;
        color: #000;
        font-size: 0.9em;
        font-family: "PT Sans", sans-serif;
        text-align: center; }
    .main-notificaciones .botones .activo {
      background: #16A085; }
      .main-notificaciones .botones .activo a {
        color: #fff; }
  .main-notificaciones .botones2 .deleteall {
    margin-right: 8em;
    text-align: center; }
    .main-notificaciones .botones2 .deleteall a {
      text-decoration: none; }
    .main-notificaciones .botones2 .deleteall .texto {
      font-family: "PT Sans", sans-serif;
      font-size: 0.75em;
      text-align: center;
      color: #808B96; }
  .main-notificaciones .botones2 .activobloqueados .texto {
    color: #000;
    font-weight: 700; }
  .main-notificaciones .notificaciones .notificacion {
    padding-top: 0.5em;
    border-top: 0.5px solid #b4b5b6;
    border-bottom: 0.5px solid #b4b5b6;
    border-right: 1px solid #b4b5b6;
    border-left: 1px solid #b4b5b6;
    padding-bottom: 0.5em; }
    .main-notificaciones .notificaciones .notificacion .imagen img {
      width: 3.12em; }
    .main-notificaciones .notificaciones .notificacion .content .titulo {
      font-family: "PT Sans", sans-serif;
      font-weight: 700; }
    .main-notificaciones .notificaciones .notificacion .content .texto {
      font-family: "PT Sans", sans-serif;
      font-size: 0.95em;
      margin-top: -1em; }
    .main-notificaciones .notificaciones .notificacion .btn-secondary {
      background: #2980B9;
      border: none;
      margin-top: 1em; }
      .main-notificaciones .notificaciones .notificacion .btn-secondary a {
        color: #fff;
        text-decoration: none; }
    .main-notificaciones .notificaciones .notificacion .iconos .close {
      margin-right: -1em; }
      .main-notificaciones .notificaciones .notificacion .iconos .close img {
        width: 0.8em; }
    .main-notificaciones .notificaciones .notificacion .iconos .bluealert {
      margin-top: 1.6em;
      border-radius: 100%;
      background: #2980B9;
      margin-left: 0.7em; }
    .main-notificaciones .notificaciones .notificacion .iconos .datetime {
      color: #808B96;
      font-size: 0.8em;
      font-weight: 700; }

.main-mensajeria {
  background: #808B96;
  height: 100vh; }
  .main-mensajeria a {
    text-decoration: none; }
  .main-mensajeria .btn {
    height: 1.8em;
    padding-top: 0;
    padding-bottom: 0; }
  .main-mensajeria .botones {
    margin-top: 1em; }
    .main-mensajeria .botones .izquierda,
    .main-mensajeria .botones .derecha {
      background: #B5B6B6;
      border-radius: 0;
      border: none; }
      .main-mensajeria .botones .izquierda a,
      .main-mensajeria .botones .derecha a {
        text-decoration: none;
        color: #000;
        font-size: 0.9em;
        font-family: "PT Sans", sans-serif;
        text-align: center; }
    .main-mensajeria .botones .activo {
      background: #16A085; }
      .main-mensajeria .botones .activo a {
        color: #fff; }
  .main-mensajeria .barrabusqueda .barra input {
    border-right: none;
    border-color: #EDEEED; }
  .main-mensajeria i {
    background: #fff;
    color: #b4b5b6;
    border-top: 1px solid #EDEEED;
    border-bottom: 1px solid #EDEEED;
    border-right: 1px solid #EDEEED;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding-top: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em; }
  .main-mensajeria .contactos {
    overflow-y: scroll;
    height: 300px; }
    .main-mensajeria .contactos::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); }
    .main-mensajeria .contactos::-webkit-scrollbar {
      width: 5px; }
    .main-mensajeria .contactos::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.2); }
    .main-mensajeria .contactos .contacto {
      border-top: 0.02em solid #b4b5b6;
      border-bottom: 0.02em solid #b4b5b6;
      min-height: 50px; }
      .main-mensajeria .contactos .contacto a {
        width: 62.5em;
        text-align: center;
        text-decoration: none;
        margin: 1px solid #b4b5b6; }
      .main-mensajeria .contactos .contacto .imagen {
        display: flex;
        justify-content: flex-end; }
        .main-mensajeria .contactos .contacto .imagen img {
          width: 3.62em;
          height: 3.62em;
          margin-top: 0em;
          margin-bottom: 0.3em; }
      .main-mensajeria .contactos .contacto .content .titulo {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        margin-top: 0.3em;
        color: #fff;
        text-decoration: none; }
      .main-mensajeria .contactos .contacto .content .texto {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        color: #fff;
        margin-top: -1em; }

.divisor {
  height: 2em; }

.contenedor-changepassword {
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
  width: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  border-radius: 4px; }
  .contenedor-changepassword .form-group {
    text-align: center; }
    .contenedor-changepassword .form-group input {
      border: none;
      border-bottom: 1px solid #16A085; }
    .contenedor-changepassword .form-group button {
      background: #16A085;
      color: #fff;
      border: #16A085;
      border-radius: 1.2em;
      cursor: pointer;
      padding: 0.5em; }
      .contenedor-changepassword .form-group button:hover {
        background: #EDEEED;
        border: #EDEEED;
        color: #16A085; }

@media screen and (max-width: 767px) {
  .main .menu-principal .container {
    margin-top: 1em;
    height: 10em;
    text-align: center; }
    .main .menu-principal .container .btn {
      border-top: 0.15em solid #48C9B0;
      border-bottom: 0.15em solid #48C9B0;
      border-left: 0.04em solid #16A085;
      border-right: 0.04em solid #16A085;
      border-radius: 20%;
      font-size: 4em;
      width: 2em; } }
@media screen and (max-width: 575px) {
  .main .comercio .contenedor .texto .nombre {
    font-weight: 700;
    color: #808B96;
    padding-top: 0.2em;
    padding-bottom: 0.2em; }

  .main .menu-principal .container {
    margin-top: -4.7em;
    height: 8em;
    text-align: center; }
    .main .menu-principal .container button img {
      width: 1em;
      padding-bottom: 0.2em; }
    .main .menu-principal .container .titulo1 {
      margin-left: 2.4em;
      margin-bottom: 2em; }
    .main .menu-principal .container .titulo2 {
      margin-right: 2.5em;
      margin-bottom: 2em; }
    .main .menu-principal .container .titulo3 {
      margin-left: 2.4em; }
    .main .menu-principal .container .titulo4 {
      margin-right: 2.4em; }
    .main .menu-principal .container .btn {
      background: #fff;
      border-top: 0.15em solid #48C9B0;
      border-bottom: 0.15em solid #48C9B0;
      border-left: 0.04em solid #16A085;
      border-right: 0.04em solid #16A085;
      border-radius: 30%;
      font-size: 3em;
      width: 2em; }
    .main .menu-principal .container .btn1 {
      margin-left: 0.8em; }
    .main .menu-principal .container .btn2 {
      margin-right: 0.8em; }
    .main .menu-principal .container .btn3 {
      margin-left: 0.8em; }
    .main .menu-principal .container .btn4 {
      margin-right: 0.8em; } }
@media screen and (max-width: 389px) {
  .main .menu-principal .container .titulo1 {
    margin-left: 0em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo2 {
    margin-right: 0em;
    margin-bottom: 2em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo3 {
    margin-left: 0em;
    margin-top: 0.2em; }
  .main .menu-principal .container .titulo4 {
    margin-top: 0.2em;
    margin-right: 0em; }
  .main .menu-principal .container .btn {
    background: #fff;
    border-top: 0.15em solid #48C9B0;
    border-bottom: 0.15em solid #48C9B0;
    border-left: 0.04em solid #16A085;
    border-right: 0.04em solid #16A085;
    border-radius: 30%;
    font-size: 3em;
    width: 2em; }
  .main .menu-principal .container .btn1 {
    margin-left: 0em; }
  .main .menu-principal .container .btn2 {
    margin-right: 0em; }
  .main .menu-principal .container .btn3 {
    margin-left: 0em; }
  .main .menu-principal .container .btn4 {
    margin-right: 0em; } }
@media screen and (max-width: 767px) {
  .main-locateusers #map {
    margin-top: 0.5em;
    width: 100%;
    height: 500px; } }
@media screen and (max-width: 360px) {
  .main-locateusers #map {
    margin-top: 0.5em;
    width: 100%;
    height: 345px; } }
@media screen and (max-width: 575px) {
  .contenedor {
    width: 70%;
    max-width: 1000px; }
    .contenedor .main-venta .monto,
    .contenedor .main-venta .numeromiembro,
    .contenedor .main-venta .numeroboleta {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding: 0.5em;
      font-size: 1em;
      border-bottom: 1px solid #EDEEED; }
      .contenedor .main-venta .monto .texto,
      .contenedor .main-venta .numeromiembro .texto,
      .contenedor .main-venta .numeroboleta .texto {
        width: 50%; }
        .contenedor .main-venta .monto .texto p,
        .contenedor .main-venta .numeromiembro .texto p,
        .contenedor .main-venta .numeroboleta .texto p {
          padding-top: 0.2em;
          padding-left: 0em;
          padding-right: 0em;
          display: flex;
          justify-content: center; }
      .contenedor .main-venta .monto .input,
      .contenedor .main-venta .numeromiembro .input,
      .contenedor .main-venta .numeroboleta .input {
        width: 50%;
        display: flex;
        justify-content: center; }
        .contenedor .main-venta .monto .input input,
        .contenedor .main-venta .numeromiembro .input input,
        .contenedor .main-venta .numeroboleta .input input {
          border: 1px solid #16A085; }
    .contenedor .main-venta .boton button {
      width: 50%; } }
@media screen and (max-width: 360px) {
  .contenedor .main-venta .monto .input input,
  .contenedor .main-venta .numeromiembro .input input,
  .contenedor .main-venta .numeroboleta .input input {
    width: 5em; } }
@media screen and (max-width: 575px) {
  .header-billetera-comercio .icono-izquierda {
    width: 10%; }
  .header-billetera-comercio .saldo {
    width: 25%; }
  .header-billetera-comercio .imagen {
    width: 65%; }
  .header-billetera-comercio .monto {
    width: 50%; }
  .header-billetera-comercio .imagen2 {
    width: 50%; }

  .main-billeteracomercio .boton-movimientos {
    margin-top: 0em; } }
@media screen and (max-width: 360px) {
  .header-billetera-comercio .icono-izquierda {
    width: 10%; }
  .header-billetera-comercio .saldo {
    width: 25%; }
    .header-billetera-comercio .saldo p {
      padding-top: 1em; }
  .header-billetera-comercio .imagen {
    width: 65%;
    padding-top: 2em; }
  .header-billetera-comercio .monto {
    width: 60%;
    margin-top: -6em; }
  .header-billetera-comercio .imagen2 {
    width: 40%;
    margin-top: -4.8em; }

  .main-billeteracomercio .boton-movimientos {
    margin-top: -2em; } }
@media screen and (max-width: 575px) {
  .contenedor-comprapymcash {
    width: 70%;
    max-width: 1000px; }
    .contenedor-comprapymcash .titulo {
      text-align: center; }
      .contenedor-comprapymcash .titulo p {
        font-size: 1.2em; }
    .contenedor-comprapymcash .main-venta .textodescriptivo {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding: 0.5em;
      font-size: 1em; }
      .contenedor-comprapymcash .main-venta .textodescriptivo .texto {
        width: 100%; }
        .contenedor-comprapymcash .main-venta .textodescriptivo .texto p {
          padding-top: 0.2em;
          padding-left: 0em;
          padding-right: 0em;
          display: flex;
          justify-content: center; }
      .contenedor-comprapymcash .main-venta .textodescriptivo .input {
        width: 100%;
        display: flex;
        justify-content: center; }
        .contenedor-comprapymcash .main-venta .textodescriptivo .input input {
          border: 1px solid #16A085; }
    .contenedor-comprapymcash .main-venta .boton button {
      width: 50%; } }
@media screen and (max-width: 360px) {
  .contenedor-comprapymcash .main-venta .textodescriptivo .input input {
    width: 5em; } }
@media screen and (max-width: 575px) {
  .contenedor-comprapymcashpreview {
    width: 85%;
    max-width: 1000px; }
    .contenedor-comprapymcashpreview .titulo {
      text-align: center; }
      .contenedor-comprapymcashpreview .titulo p {
        font-size: 1.3em; }
    .contenedor-comprapymcashpreview .descripcion p {
      color: #808B96;
      font-size: 0.85em; } }
@media screen and (max-width: 750px) {
  .main-promo .contenedor {
    width: 90%; } }
@media screen and (max-width: 750px) {
  .main-promomail .contenedor {
    width: 90%; } }
@media screen and (max-width: 992px) {
  .main-notificaciones .botones2 .deleteall {
    margin-right: 1em; } }
@media screen and (max-width: 767px) {
  .main-notificaciones .botones {
    margin-top: 0; }
  .main-notificaciones .botones2 .deleteall {
    margin-right: 0em; }
    .main-notificaciones .botones2 .deleteall .texto {
      font-size: 0.6em; }
  .main-notificaciones .botones2 .commerceblock {
    margin-right: 2em; } }
@media screen and (max-width: 575px) {
  .main-notificaciones .notificaciones {
    max-height: 350px;
    overflow: scroll; }
    .main-notificaciones .notificaciones .notificacion .imagen {
      padding-top: 0.8em;
      margin-left: -2em; }
      .main-notificaciones .notificaciones .notificacion .imagen img {
        width: 3em; }
    .main-notificaciones .notificaciones .notificacion .content {
      padding-left: 1.4em; }
      .main-notificaciones .notificaciones .notificacion .content .titulo {
        font-size: 0.96em;
        font-weight: 700; }
      .main-notificaciones .notificaciones .notificacion .content .texto {
        font-size: 0.9em;
        margin-top: -1.2em;
        line-height: 1em; }
    .main-notificaciones .notificaciones .notificacion .btn-secondary {
      width: 100%;
      margin-top: -0.8em; } }
@media screen and (max-width: 575px) {
  .main-mensajeria .contactos {
    max-height: 350px;
    overflow: scroll; }
    .main-mensajeria .contactos .contacto .imagen {
      margin-top: 0.5em; } }
@media screen and (max-width: 993px) {
  .header .chat-header .icono-derecha {
    padding-left: 4em; } }
@media screen and (max-width: 575px) {
  .header .chat-header {
    padding: 0.7em; }
    .header .chat-header .icono-izquierda {
      padding-top: 0.28em;
      padding-left: 0;
      font-size: 1.1em; }
    .header .chat-header .imagen {
      padding-top: 0.6em;
      padding-bottom: 0.2em; }
      .header .chat-header .imagen img {
        width: 3em;
        height: 3em; }
    .header .chat-header .titulo {
      padding-left: 0;
      font-size: 0.9em;
      padding-top: 1.4em; }
    .header .chat-header .icono-derecha {
      padding-top: 1em;
      padding-left: 2em; }
      .header .chat-header .icono-derecha img {
        width: 1.3em;
        height: 1.3em; } }
@media screen and (max-width: 335px) {
  .header .chat-header .icono-derecha {
    padding-left: 0em; } }
@media screen and (max-height: 500px) {
  .header {
    height: 15vh; }
    .header .chat-header {
      padding: 0em; } }
@media screen and (max-height: 420px) {
  .header {
    height: 15vh; }
    .header .chat-header {
      padding: 0.6em; }
      .header .chat-header .icono-izquierda {
        margin-top: -0.8em; }
      .header .chat-header .imagen {
        padding-top: 0em;
        padding-bottom: 0em; }
        .header .chat-header .imagen img {
          width: 2em;
          height: 2em; }
      .header .chat-header .titulo {
        font-size: 0.8em;
        padding-top: 0em; }
      .header .chat-header .icono-derecha {
        padding-top: 0em; }

  .chat-history {
    height: 60vh; }

  .chat-messages {
    padding: 1em;
    height: 25vh; }
    .chat-messages textarea {
      height: 3em; } }
@media screen and (max-height: 350px) {
  .header .chat-header {
    padding-top: 0.3em; }
  .header .imagen img {
    width: 1.5em;
    height: 1.5em; }
  .header .imagen .titulo {
    font-size: 0.75em; }

  .chat-messages {
    padding: 0.2em; }
    .chat-messages textarea {
      height: 2em; }
    .chat-messages button {
      width: 0.5em; } }
@media screen and (max-width: 570px) {
  .header-changepassword .barra .titulo {
    display: flex;
    justify-content: center; }

  .contenedor-changepassword {
    width: 80%; } }

/*# sourceMappingURL=estilos3.css.map */
