// Estilos inicio de sesión y registros
$aquamarina: #16A085
$azulelectrico: #2980B9
$azulcielo: #01A9DB
$grisoscuro: #808B96
$grisclaro: #EDEEED
$grisintermedio: #b4b5b6
$verdesuave: #48C9B0
$verde: #01DF74
$verdepasto: #5FB404
$degradadomenu: linear-gradient(to left, $azulelectrico, $verdesuave 50%)
$fondodegradado: linear-gradient(to bottom, $verdesuave, $azulcielo 100%)

$font-family: 'Roboto', sans-serif
$font-family2: 'PT Sans', sans-serif
$font-family3: 'Poppins', sans-serif
$font-size: 16px

*
	margin: 0
	padding: 0

html,body
	// background: url('../img/fondodesenfocado.jpg') $aquamarina
	background: $fondodegradado
	background-repeat: no-repeat
	background-size: 100% 100%
	font-size: $font-size
	font-family: $font-family2
	min-height: 100vh

// main-login : inicio de sesion comercio y usuarios
// main-chooselogin : elegir que tipo de cuenta crear o iniciar sesion 
// main-register, mediaqueries-register, header-register : registro comercio, mapa y usuarios

@import header-register
@import main-inicio
@import main-chooselogin
@import main-login
@import main-recoverpass
@import main-register
@import main-register-success
@import mediaqueries-inicio
@import mediaqueries-chooselogin
@import mediaqueries-login
@import mediaqueries-recoverpass
@import mediaqueries-register
@import mediaqueries-register-success