
.icon-search:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-switch:before { content: '\e808'; } /* '' */
.icon-trash-2:before { content: '\e809'; } /* '' */
.icon-lock-1:before { content: '\e80a'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */